<div class="container container__dimmed_25" >

    <div id="closemessage" class="cancel dark"></div>

    <div class="post_match">
        <div class="post_match__title headline _3">Соперник победил</div>
        <div class="post_match__text">Ничего страшного — попробуй ещё!</div>
        <div id="playmore" class="btn btn_danger btn__large">Сыграть новый матч</div><!-- при нажатии на кнопку добовляется class disable -->
        <a href="#" id="nothanks" class="post_match__subbtn">Нет, спасибо</a>
    </div>

</div>