<div class="container container__dimmed_25" >

    <div id="closemessage" class="cancel dark"></div>

    <div class="post_match">
        <div class="post_match__title headline _3">Упс</div>
        <div class="post_match__text">Кто-то уже играет с вашего аккаунта.<br>Или включен «автоплей»</div>
        <div id="reloadapp" class="btn btn_danger btn__large">Перезагрузить игру</div><!-- при нажатии на кнопку добовляется class disable -->
        <a id="nothanks" href="#" class="post_match__subbtn">На дешборд</a>
    </div>

</div>