<div class="container container__dimmed_25">

    <div id="closemessage" class="cancel dark"></div>

    <div class="post_match post_match__stickers">
        <div class="post_match__title headline _3">Победа!</div>
        <div class="post_match__text">Соперник повержен.</div>
        <div class="column column__post_match__stickers">
            <div class="column__line"></div>
            <div class="column__scrolling">
                <div class="column__content">
                    <div class="post_match__stickers__title">Выбери стикер для обложки матча</div>
                    <div class="post_match__stickers__catalog">
                        {{#each stickers as |stickerURL|}}
                            <div>
                                <img class="sticker__icon" src="{{{ stickerURL }}}" alt="sticker">
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
