<img id="{{Identifier}}pic"
     class="user_image _50"
     src="{{UserPic}}"
     {{#if UserPic}}
        alt="{{FirstName}}"
         {{else}}
        alt=""
     {{/if}}>
<div id="{{Identifier}}name" class="user_name">{{FirstName}}</div>
<div id="{{Identifier}}score" class="live_score">0</div>