<div class="container container__intro">
    <div class="intro_loading_indication"></div>
    <div class="intro_logo">
        <svg width="1000" height="100">
            <g fill="#FFF" fill-rule="evenodd">
                <path d="M454 61.6a26.4 26.4 0 0 1-.14 5.29 7.32 7.32 0 0 1-1.5 3.71 6.67 6.67 0 0 1-3.49 2.08c-1.53.43-3.54.55-6.01.38l-1.67-6.27c1.84.13 3.2-.04 4.1-.51.9-.47 1.28-1.51 1.15-3.14l-.06-.38-18.95-34.56h6.91l7.94 15.3 5 10.5-1.1-10.44-.96-15.36h7.36L454 61.6zM474.68 73l-11.9-44.8h19.64l1.73 6.4h-12.67l3 11.46h4.1c3.54 0 6.46.93 8.74 2.81 2.28 1.88 3.91 4.63 4.9 8.26l1.27 4.8c.99 3.62.84 6.38-.44 8.25-1.28 1.88-3.7 2.82-7.24 2.82H474.7zm9.4-6.4c1.12 0 1.92-.3 2.4-.9.5-.6.53-1.7.1-3.32l-1.53-5.7c-.43-1.62-1.05-2.73-1.86-3.33a4.7 4.7 0 0 0-2.88-.9h-4.1L480 66.6h4.1zm24.16 6.4l-11.9-44.8h19.64l1.73 6.4h-12.67l3 11.46h4.1c3.54 0 6.46.93 8.74 2.81 2.28 1.88 3.91 4.63 4.9 8.26l1.27 4.8c.99 3.62.84 6.38-.44 8.25-1.28 1.88-3.7 2.82-7.24 2.82h-11.13zm9.4-6.4c1.12 0 1.92-.3 2.4-.9.5-.6.53-1.7.1-3.32l-1.53-5.7c-.43-1.62-1.05-2.73-1.86-3.33a4.7 4.7 0 0 0-2.88-.9h-4.1l3.78 14.15h4.1zm36.57-5c.13 2.01.09 3.77-.12 5.29a7.32 7.32 0 0 1-1.5 3.71 6.67 6.67 0 0 1-3.5 2.08c-1.53.43-3.54.55-6.01.38l-1.67-6.27c1.84.13 3.2-.04 4.1-.51.9-.47 1.28-1.51 1.15-3.14l-.06-.38-18.95-34.56h6.92l7.93 15.3 5 10.5-1.1-10.44-.95-15.36h7.36l1.4 33.4z"></path>
                <g class="intro_loading" fill-rule="nonzero">
                    <path d="M121.67 50.22a6.94 6.94 0 0 0-5.15-4.98V42h-3.08v3.23a6.93 6.93 0 0 0-5.14 4.99H105v3.08h3.19a6.94 6.94 0 0 0 5.25 5.42V62h3.08v-3.27a6.94 6.94 0 0 0 5.26-5.43H125v-3.08h-3.33zm-6.69 5.6a3.85 3.85 0 1 1 .01-7.7 3.85 3.85 0 0 1 0 7.7z"></path>
                    <path d="M199 42s-20.77 20 0 20 0-20 0-20zm4.03 16.27c-.25.53-.78.87-1.42 1.1.54-2.16-2.62-6.06-2.62-6.06s-3.13 3.9-2.6 6.05c-.63-.22-1.17-.55-1.42-1.09-1.01-2.12 1.48-6.95 4.03-10.5 2.55 3.55 5.04 8.38 4.03 10.5zm3.46-.31c-.4 1.01-1.5 1.63-2.85 2 4.23-3.81-4.64-14.73-4.64-14.73s-8.87 10.92-4.63 14.73c-1.36-.37-2.45-.99-2.86-2-.72-1.79.48-4.95 3.38-8.9A52.52 52.52 0 0 1 199 44.2a52.45 52.45 0 0 1 4.08 4.83c2.92 3.97 4.13 7.14 3.41 8.93z"></path>
                    <path d="M283 42l-7.7.93c0 17.66 5.26 16.02 7.7 19.07 2.44-3.05 7.7-1.4 7.7-19.07L283 42zm3.39 7.96a3.47 3.47 0 0 1-2.63 2.7v1.65h-1.54v-1.64a3.47 3.47 0 0 1-2.62-2.71H278v-1.54h1.66a3.46 3.46 0 0 1 2.56-2.5v-1.61h1.54v1.62a3.46 3.46 0 0 1 2.57 2.49H288v1.54h-1.61z"></path>
                    <path d="M373.92 42v5.38h-13.84v6.93H357l4.62 7.69 4.61-7.69h-3.08v-3.85H377V42z"></path>
                    <path d="M641 52l-7.69-4.62v3.08h-4.62v-3.08L621 52l7.69 4.62v-3.08h4.62v3.08z"></path>
                    <path d="M705 42v2.31h12.17L705 47.89v2.32h12.16L705 53.79v2.31h12.16L705 59.68V62h20v-2.31h-12.17L725 56.11v-2.32h-12.16L725 50.21V47.9h-12.16L725 44.31V42z"></path>
                    <path d="M799 42a10 10 0 1 0 0 20 10 10 0 0 0 0-20zm-1.54 16.15h-3.08v-12.3h3.08v12.3zm6.15 0h-3.07v-12.3h3.08v12.3z"></path>
                    <path d="M889.92 50.9l1.1-4.94h-4.94L883 42l-3.08 3.96h-4.94l1.1 4.94-3.08 3.96 4.45 2.2 1.1 4.94 4.45-2.2 4.45 2.2 1.1-4.94 4.45-2.2-3.08-3.96zm-5.3 6.76h-3.25l-3.44-9.71h3.16l1.91 5.39 1.91-5.39h3.16l-3.45 9.71z"></path>
                </g>
            </g>
        </svg>
    </div>
    <div class="intro_spinner">
        <svg width="50" height="50">
            <path fill="#FFF" d="M25 10c.73 0 1.3.83 1.3 1.87v3.73c0 1.03-.6 1.87-1.3 1.87-.73 0-1.3-.84-1.3-1.87v-3.73c0-1.04.57-1.87 1.3-1.87zm7.5 2c.63.37.73 1.37.2 2.27l-1.87 3.23c-.53.9-1.43 1.33-2.06.97-.64-.37-.74-1.37-.2-2.27l1.86-3.23c.5-.9 1.44-1.34 2.07-.97zm5.5 5.5c.37.63-.07 1.57-.97 2.07l-3.23 1.86c-.9.54-1.93.44-2.27-.2-.36-.63.07-1.56.97-2.06l3.23-1.87c.87-.53 1.9-.43 2.27.2zm2 7.5c0 .73-.83 1.3-1.87 1.3h-3.76c-1.04 0-1.87-.6-1.87-1.3 0-.73.83-1.3 1.87-1.3h3.73c1.07 0 1.9.57 1.9 1.3zm-2 7.5c-.37.63-1.37.73-2.27.2l-3.23-1.87c-.9-.53-1.33-1.43-.97-2.06.37-.64 1.37-.74 2.27-.2l3.23 1.86c.9.5 1.34 1.44.97 2.07zM32.5 38c-.63.37-1.57-.07-2.07-.97l-1.86-3.23c-.54-.9-.44-1.93.2-2.27.63-.36 1.56.07 2.06.97l1.87 3.23c.53.87.43 1.9-.2 2.27zM25 40c-.73 0-1.3-.83-1.3-1.87v-3.76c0-1.04.6-1.87 1.3-1.87.73 0 1.3.83 1.3 1.87v3.73c0 1.07-.57 1.9-1.3 1.9zm-7.5-2c-.63-.37-.73-1.37-.2-2.27l1.87-3.23c.53-.9 1.43-1.33 2.06-.97.64.37.74 1.37.2 2.27l-1.86 3.23c-.5.9-1.44 1.34-2.07.97zM12 32.5c-.37-.63.07-1.57.97-2.07l3.23-1.86c.9-.54 1.93-.44 2.27.2.36.63-.07 1.56-.97 2.06l-3.23 1.87c-.87.53-1.9.43-2.27-.2zM10 25c0-.73.83-1.3 1.87-1.3h3.73c1.03 0 1.87.6 1.87 1.3 0 .73-.84 1.3-1.87 1.3h-3.73c-1.04 0-1.87-.57-1.87-1.3zm2-7.5c.37-.63 1.37-.73 2.27-.2l3.23 1.87c.9.53 1.33 1.43.97 2.06-.37.64-1.37.74-2.27.2l-3.23-1.86c-.9-.5-1.34-1.44-.97-2.07zm5.5-5.5c.63-.37 1.57.07 2.07.97l1.86 3.23c.54.9.44 1.93-.2 2.27-.63.36-1.56-.07-2.06-.97l-1.87-3.23c-.53-.87-.43-1.9.2-2.27z">
                <animateTransform attributeName="transform" attributeType="XML" type="rotate" from="0 25 25" to="360 25 25" dur="3s" begin="0s" repeatCount="indefinite" fill="freeze"/>
            </path>
        </svg>
    </div>
</div>
