<svg id="field" xmlns="http://www.w3.org/2000/svg" width="796" viewBox="0 0 796 460" preserveAspectRatio="none">

    <rect width="796" height="460" rx="60" fill="#f9f9f9"/>

    <g id="timer" class="on">
        <line id="staticLine" x1="68" y1="50" x2="728" y2="50"/>
        <line id="progressLine" x1="68" y1="50" x2="728" y2="50"/>
        <line id="verticalProgressIndicator" x1="68" y1="50" x2="70" y2="50"/>
    </g>

    <g id="countdown" class="">
        <circle r="7" cy="-27" cx="356"/>
        <circle r="7" cy="-27" cx="398"/>
        <circle r="7" cy="-27" cx="440"/>
    </g>

    <g id="layout">
        <line id="defenceLineEnemy6" x1="108" x2="184" y1="94" y2="94"/>
        <line id="defenceLineEnemy5" x1="192" x2="268" y1="94" y2="94"/>
        <line id="defenceLineEnemy4" x1="276" x2="352" y1="94" y2="94"/>
        <line id="defenceLineEnemy3" x1="360" x2="436" y1="94" y2="94"/>
        <line id="defenceLineEnemy2" x1="444" x2="520" y1="94" y2="94"/>
        <line id="defenceLineEnemy1" x1="528" x2="604" y1="94" y2="94"/>
        <line id="defenceLineEnemy0" x1="612" x2="688" y1="94" y2="94"/>

        <line id="attackFirstLineEnemy3" x1="104" x2="104" y1="98" y2="226"/>
        <line id="attackFirstLineEnemy2" x1="272" x2="272" y1="98" y2="226"/>
        <line id="attackFirstLineEnemy1" x1="440" x2="440" y1="98" y2="226"/>
        <line id="attackFirstLineEnemy0" x1="608" x2="608" y1="98" y2="226"/>

        <line id="attackSecondLineEnemy3" x1="104" x2="104" y1="234" y2="314"/>
        <line id="attackSecondLineEnemy2" x1="272" x2="272" y1="234" y2="314"/>
        <line id="attackSecondLineEnemy1" x1="440" x2="440" y1="234" y2="314"/>
        <line id="attackSecondLineEnemy0" x1="608" x2="608" y1="234" y2="314"/>

        <path id="switchLineToRightEnemy2" d="M104,234c0,68,105.308,100,148,100"/>
        <path id="switchLineToRightEnemy1" d="M271.92,234c0,68,105.308,100,148,100"/>
        <path id="switchLineToRightEnemy0" d="M440,234c0,68,105.309,100,148,100"/>

        <path id="switchLineToLeftEnemy2" d="M271.92,234c0,68-105.309,100-148,100"/>
        <path id="switchLineToLeftEnemy1" d="M440,234c0,68-105.309,100-148,100"/>
        <path id="switchLineToLeftEnemy0" d="M608,234c0,68-105.309,100-148,100"/>

        <line id="defenceLineYour0" x1="108" x2="184" y1="366" y2="366"/>
        <line id="defenceLineYour1" x1="192" x2="268" y1="366" y2="366"/>
        <line id="defenceLineYour2" x1="276" x2="352" y1="366" y2="366"/>
        <line id="defenceLineYour3" x1="360" x2="436" y1="366" y2="366"/>
        <line id="defenceLineYour4" x1="444" x2="520" y1="366" y2="366"/>
        <line id="defenceLineYour5" x1="528" x2="604" y1="366" y2="366"/>
        <line id="defenceLineYour6" x1="612" x2="688" y1="366" y2="366"/>

        <line id="attackSecondLineYour0" x1="188" x2="188" y1="146" y2="226"/>
        <line id="attackSecondLineYour1" x1="356" x2="356" y1="146" y2="226"/>
        <line id="attackSecondLineYour2" x1="524" x2="524" y1="146" y2="226"/>
        <line id="attackSecondLineYour3" x1="692" x2="692" y1="146" y2="226"/>

        <line id="attackFirstLineYour0" x1="188" x2="188" y1="234" y2="362"/>
        <line id="attackFirstLineYour1" x1="356" x2="356" y1="234" y2="362"/>
        <line id="attackFirstLineYour2" x1="524" x2="524" y1="234" y2="362"/>
        <line id="attackFirstLineYour3" x1="692" x2="692" y1="234" y2="362"/>

        <path id="switchLineToLeftYour0" d="M188,226c0-68,105.309-100,148-100"/>
        <path id="switchLineToLeftYour1" d="M356,226c0-68,105.309-100,148-100"/>
        <path id="switchLineToLeftYour2" d="M524,226c0-68,105.309-100,148-100"/>

        <path id="switchLineToRightYour0" d="M356,226c0-68-105.309-100-148-100"/>
        <path id="switchLineToRightYour1" d="M524,226c0-68-105.309-100-148-100"/>
        <path id="switchLineToRightYour2" d="M692,226c0-68-105.309-100-148-100"/>

        <circle id="startEnemy3" r="4" cx="104" cy="94"/>
        <circle id="startEnemy2" r="4" cx="272" cy="94"/>
        <circle id="startEnemy1" r="4" cx="440" cy="94"/>
        <circle id="startEnemy0" r="4" cx="608" cy="94"/>

        <circle id="defenceEnemy3" r="4" cx="188" cy="94"/>
        <circle id="defenceEnemy2" r="4" cx="356" cy="94"/>
        <circle id="defenceEnemy1" r="4" cx="524" cy="94"/>
        <circle id="defenceEnemy0" r="4" cx="692" cy="94"/>

        <circle id="attackEnemy3" r="4" cx="104" cy="230"/>
        <circle id="attackEnemy2" r="4" cx="272" cy="230"/>
        <circle id="attackEnemy1" r="4" cx="440" cy="230"/>
        <circle id="attackEnemy0" r="4" cx="608" cy="230"/>

        <circle id="holeEnemy3" r="20" cx="104" cy="334"/>
        <circle id="holeEnemy2" r="20" cx="272" cy="334"/>
        <circle id="holeEnemy1" r="20" cx="440" cy="334"/>
        <circle id="holeEnemy0" r="20" cx="608" cy="334"/>

        <circle id="startYour0" r="4" cx="188" cy="366"/>
        <circle id="startYour1" r="4" cx="356" cy="366"/>
        <circle id="startYour2" r="4" cx="524" cy="366"/>
        <circle id="startYour3" r="4" cx="692" cy="366"/>

        <circle id="defenceYour0" r="4" cx="104" cy="366"/>
        <circle id="defenceYour1" r="4" cx="272" cy="366"/>
        <circle id="defenceYour2" r="4" cx="440" cy="366"/>
        <circle id="defenceYour3" r="4" cx="608" cy="366"/>

        <circle id="attackYour0" r="4" cx="188" cy="230"/>
        <circle id="attackYour1" r="4" cx="356" cy="230"/>
        <circle id="attackYour2" r="4" cx="524" cy="230"/>
        <circle id="attackYour3" r="4" cx="692" cy="230"/>

        <circle id="holeYour0" r="20" cx="188" cy="126"/>
        <circle id="holeYour1" r="20" cx="356" cy="126"/>
        <circle id="holeYour2" r="20" cx="524" cy="126"/>
        <circle id="holeYour3" r="20" cx="692" cy="126"/>
    </g>

    <symbol>
        <path id="frameS" d="M36,24c0,6.627-5.373,12-12,12h-48c-6.627,0-12-5.373-12-12v-48c0-6.627,5.373-12,12-12h48c6.627,0,12,5.373,12,12V24z"/>
        <path id="cannonS" d="M6.668-1.779C6.016-4.256,4.027-6.192,1.521-6.765V-10h-3.078v3.234c-2.509,0.572-4.498,2.51-5.148,4.986H-10v3.077h3.189c0.521,2.687,2.6,4.82,5.255,5.427V10h3.077V6.725c2.656-0.606,4.734-2.74,5.256-5.427H10v-3.077H6.668L6.668-1.779zM-0.018,3.826c-2.121,0-3.846-1.726-3.846-3.846c0-2.121,1.726-3.846,3.846-3.846c2.121,0,3.846,1.725,3.846,3.846C3.828,2.101,2.104,3.826-0.018,3.826z"/>
        <path id="fireS" d="M0-10c0,0-20.769,20,0,20S0-10,0-10zM4.031,6.274c-0.254,0.53-0.784,0.87-1.426,1.089c0.546-2.154-2.619-6.05-2.619-6.05s-3.131,3.896-2.593,6.048c-0.638-0.218-1.17-0.556-1.425-1.087c-1.011-2.12,1.479-6.952,4.027-10.508C2.548-0.68,5.039,4.151,4.028,6.274H4.031zM7.493,5.96c-0.408,1.01-1.5,1.629-2.857,2C8.874,4.149-0.001-6.77-0.001-6.77S-8.873,4.149-4.632,7.96c-1.356-0.369-2.452-0.989-2.858-2c-0.723-1.788,0.479-4.947,3.382-8.896C-2.627-4.95-1.023-6.728,0-7.805c1.015,1.071,2.608,2.832,4.084,4.839C7.004,0.995,8.214,4.166,7.493,5.96L7.493,5.96z"/>
        <path id="shieldS" d="M0-10l-7.692,0.927C-7.692,8.594-2.44,6.955,0,10C2.438,6.954,7.692,8.594,7.692-9.073L0-10zM3.386-2.043C3.124-0.7,2.087,0.362,0.759,0.665v1.643h-1.538V0.666C-2.105,0.362-3.142-0.7-3.404-2.042H-5V-3.58h1.656c0.328-1.238,1.312-2.204,2.564-2.491v-1.621h1.539v1.621c1.254,0.284,2.238,1.253,2.567,2.489H5v1.538L3.386-2.043L3.386-2.043z"/>
        <path id="mirrorS" d="M10,0L2.308-4.615v3.077h-4.615v-3.077L-10,0l7.692,4.615V1.538h4.615v3.077L10,0z"/>
        <path id="switchS" d="M6.923-10v5.385H-6.923v6.923H-10L-5.383,10l4.613-7.692h-3.076v-3.846H10V-10H6.923z"/>
        <path id="springS" d="M-10.001-10v2.308H2.17l-12.171,3.586v2.315l0.011-0.003H2.163L-9.999,1.791v2.313l0.007-0.002H2.16L-9.999,7.685V10h20V7.692h-12.17l12.17-3.587V1.792L9.993,1.795H-2.16L10.001-1.79v-2.313L9.995-4.103H-2.156l12.157-3.585V-10H-10.001z"/>
        <path id="secondS" d="M0-10c-5.522,0-10,4.478-10,10s4.478,10,10,10S10,5.522,10,0S5.522-10,0-10z M-1.538,6.154h-3.077V-6.154h3.077V6.154z M4.615,6.154H1.538V-6.154h3.077V6.154z"/>
        <path id="vabankS" d="M6.922-1.1L8.02-6.038L3.081-6.041L-0.001-10l-3.081,3.959L-8.021-6.04l1.099,4.94l-3.077,3.962l4.446,2.199L-4.451,10l4.45-2.195L4.45,10l1.102-4.938l4.447-2.199L6.922-1.1z M1.623,5.665h-3.157l0.003-0.009h-0.091l-3.446-9.71h3.156l1.913,5.393l1.91-5.385h3.156L1.623,5.665L1.623,5.665z"/>
    </symbol>

    <g id="gimmicksPanel" class="on">
        <g class="cannon gimmick">
            <use class="" x="104" y="414" xlink:href="#cannonS"/>
            <text x="104" y="442">пушка</text>
            <use id="cannon" x="104" y="414"xlink:href="#frameS"/>
        </g>
        <g class="fire gimmick">
            <use class="" x="188" y="414" xlink:href="#fireS"/>
            <text x="188" y="442">огонь</text>
            <use id="fire" x="188" y="414" xlink:href="#frameS"/>
        </g>
        <g class="shield gimmick">
            <use class="" x="272" y="414" xlink:href="#shieldS"/>
            <text x="272" y="442">щит</text>
            <use id="shield" x="272" y="414" xlink:href="#frameS"/>
        </g>
        <g class="switch gimmick">
            <use class="" x="356" y="414" xlink:href="#switchS"/>
            <text x="356" y="442">перевод</text>
            <use id="switch" x="356" y="414" xlink:href="#frameS"/>
        </g>
        <g class="mirror gimmick">
            <use class="" x="440" y="414" xlink:href="#mirrorS"/>
            <text x="440" y="442">зеркало</text>
            <use id="mirror" x="440" y="414" xlink:href="#frameS"/>
        </g>
        <g class="spring gimmick">
            <use class="" x="524" y="414" xlink:href="#springS"/>
            <text x="524" y="442">пружина</text>
            <use id="spring" x="524" y="414" xlink:href="#frameS"/>
        </g>
        <g class="second gimmick">
            <use class="" x="608" y="414" xlink:href="#secondS"/>
            <text x="608" y="442">второй</text>
            <use id="second" x="608" y="414" xlink:href="#frameS"/>
        </g>
        <g class="vabank gimmick">
            <use class="" x="692" y="414" xlink:href="#vabankS"/>
            <text x="692" y="442">ва-банк</text>
            <use id="vabank" x="692" y="414" xlink:href="#frameS"/>
        </g>
    </g>

    <g id="rocks" class="on">

        <circle id="rockEnemy3" r="20" class="on" cx="104" cy="94"/>
        <circle id="rockEnemy2" r="20" class="on" cx="272" cy="94"/>
        <circle id="rockEnemy1" r="20" class="on" cx="440" cy="94"/>
        <circle id="rockEnemy0" r="20" class="on" cx="608" cy="94"/>

        <circle id="rockYour0" r="20" class="on" cx="188" cy="366"/>
        <g id="firstRock">
            <circle id="animationRockYour0" class="on" r="20" cx="188" cy="366"/>

            <polygon class="arrowLeft" points="176,362.625 172.667,366 176,369.375 175.333,370.5 171,366 175.333,361.5"/>
            <polygon class="arrowTop" points="191.375,354 188,350.667 184.625,354 183.5,353.333 188,349 192.5,353.333"/>
            <polygon class="arrowRight" points="200,369.375 203.333,366 200,362.625 200.667,361.5 205,366 200.667,370.5"/>

            <rect id="activationZoneLeft0" class="" width="188" height="460" x="0" y="0"/>
            <rect id="activationZoneRight0" class="" width="84" height="460" x="188" y="0"/>
            <polygon id="activationZoneTop0" class="" points="188,366 0,60.667 0,0 272,0 272,230"/>
        </g>

        <circle id="rockYour1" r="20" class="on" cx="356" cy="366"/>
        <g id="secondRock">
            <circle id="animationRockYour1" class="on" r="20" cx="356" cy="366"/>

            <polygon class="arrowLeft" points="344,362.625 340.667,366 344,369.375 343.333,370.5 339,366 343.333,361.5" />
            <polygon class="arrowTop" points="359.375,354 356,350.667 352.625,354 351.5,353.333 356,349 360.5,353.333"/>
            <polygon class="arrowRight" points="368,369.375 371.333,366 368,362.625 368.667,361.5 373,366 368.667,370.5"/>

            <rect id="activationZoneLeft1" class="" width="84" height="460" x="272" y="0"/>
            <rect id="activationZoneRight1" class="" width="84" height="460" x="356" y="0"/>
            <polygon id="activationZoneTop1" class="" points="356,366 272,230 272,0 440,0 439.999,230"/>
        </g>

        <circle id="rockYour2" r="20" class="on" cx="524" cy="366"/>
        <g id="thirdRock">
            <circle id="animationRockYour2" class="on" r="20" cx="524" cy="366"/>

            <polygon class="arrowLeft" points="512,362.625 508.667,366 512,369.375 511.333,370.5 507,366 511.333,361.5"/>
            <polygon class="arrowTop" points="527.375,354 524,350.667 520.625,354 519.5,353.333 524,349 528.5,353.333"/>
            <polygon class="arrowRight" points="536,369.375 539.333,366 536,362.625 536.667,361.5 541,366 536.667,370.5"/>

            <rect id="activationZoneLeft2" class="" width="84" height="460" x="440" y="0"/>
            <rect id="activationZoneRight2" class="" width="84" height="460" x="524" y="0"/>
            <polygon id="activationZoneTop2" class="" points="524,366 439.999,230 440,0 608,0 608,230"/>
        </g>

        <circle id="rockYour3" r="20" class="on" cx="692" cy="366"/>
        <g id="fourthRock">
            <circle id="animationRockYour3" class="on" r="20" cx="692" cy="366"/>

            <polygon class="arrowLeft" points="680,362.625 676.667,366 680,369.375 679.333,370.5 675,366 679.333,361.5"/>
            <polygon class="arrowTop" points="695.375,354 692,350.667 688.625,354 687.5,353.333 692,349 696.5,353.333"/>

            <rect id="activationZoneLeft3" class="" width="188" height="460" x="608" y="0"/>
            <polygon id="activationZoneTop3" class="" points="692,366 608,230 608,0 796,0 796,460"/>
        </g>

    </g>

    <g id="gimmicksPositionsAndActivationZones" class="gimmicksLayout">
        <use id="cannonEnemy0" x="157" y="230" xlink:href="#cannonS"/>
        <use id="cannonEnemy1" x="325" y="230" xlink:href="#cannonS"/>
        <use id="cannonEnemy2" x="493" y="230" xlink:href="#cannonS"/>
        <use id="cannonEnemy3" x="661" y="230" xlink:href="#cannonS"/>
        <use id="cannonYour3" x="135" y="230" xlink:href="#cannonS"/>
        <use id="cannonYour2" x="303" y="230" xlink:href="#cannonS"/>
        <use id="cannonYour1" x="471" y="230" xlink:href="#cannonS"/>
        <use id="cannonYour0" x="639" y="230" xlink:href="#cannonS"/>

        <use id="fireEnemy0" x="188" y="126" xlink:href="#fireS"/>
        <use id="fireEnemy1" x="356" y="126" xlink:href="#fireS"/>
        <use id="fireEnemy2" x="524" y="126" xlink:href="#fireS"/>
        <use id="fireEnemy3" x="692" y="126" xlink:href="#fireS"/>
        <use id="fireYour3" x="104" y="334" xlink:href="#fireS"/>
        <use id="fireYour2" x="272" y="334" xlink:href="#fireS"/>
        <use id="fireYour1" x="440" y="334" xlink:href="#fireS"/>
        <use id="fireYour0" x="608" y="334" xlink:href="#fireS"/>

        <use id="shieldEnemy3" x="75" y="230" xlink:href="#shieldS"/>
        <use id="shieldEnemy2" x="243" y="230" xlink:href="#shieldS"/>
        <use id="shieldEnemy1" x="411" y="230" xlink:href="#shieldS"/>
        <use id="shieldEnemy0" x="579" y="230" xlink:href="#shieldS"/>
        <use id="shieldYour0" x="217" y="230" xlink:href="#shieldS"/>
        <use id="shieldYour1" x="385" y="230" xlink:href="#shieldS"/>
        <use id="shieldYour2" x="553" y="230" xlink:href="#shieldS"/>
        <use id="shieldYour3" x="721" y="230" xlink:href="#shieldS"/>

        <use id="mirrorEnemy3" x="75" y="250" xlink:href="#mirrorS"/>
        <use id="mirrorEnemy2" x="243" y="250" xlink:href="#mirrorS"/>
        <use id="mirrorEnemy1" x="411" y="250" xlink:href="#mirrorS"/>
        <use id="mirrorEnemy0" x="579" y="250" xlink:href="#mirrorS"/>
        <use id="mirrorYour0" x="217" y="250" xlink:href="#mirrorS"/>
        <use id="mirrorYour1" x="385" y="250" xlink:href="#mirrorS"/>
        <use id="mirrorYour2" x="553" y="250" xlink:href="#mirrorS"/>
        <use id="mirrorYour3" x="721" y="250" xlink:href="#mirrorS"/>

        <use id="switchEnemy0" x="188" y="94" xlink:href="#switchS"/>
        <use id="switchEnemy1" x="356" y="94" xlink:href="#switchS"/>
        <use id="switchEnemy2" x="524" y="94" xlink:href="#switchS"/>
        <use id="switchEnemy3" x="692" y="94" xlink:href="#switchS"/>
        <use id="switchYour3" x="104" y="366" xlink:href="#switchS"/>
        <use id="switchYour2" x="272" y="366" xlink:href="#switchS"/>
        <use id="switchYour1" x="440" y="366" xlink:href="#switchS"/>
        <use id="switchYour0" x="608" y="366" xlink:href="#switchS"/>

        <use id="springEnemy3" x="104" y="199" xlink:href="#springS"/>
        <use id="springEnemy2" x="272" y="199" xlink:href="#springS"/>
        <use id="springEnemy1" x="440" y="199" xlink:href="#springS"/>
        <use id="springEnemy0" x="608" y="199" xlink:href="#springS"/>
        <use id="springYour0" x="188" y="261" xlink:href="#springS"/>
        <use id="springYour1" x="356" y="261" xlink:href="#springS"/>
        <use id="springYour2" x="524" y="261" xlink:href="#springS"/>
        <use id="springYour3" x="692" y="261" xlink:href="#springS"/>

        <use id="secondEnemy3" x="104" y="230" xlink:href="#secondS"/>
        <use id="secondEnemy2" x="272" y="230" xlink:href="#secondS"/>
        <use id="secondEnemy1" x="440" y="230" xlink:href="#secondS"/>
        <use id="secondEnemy0" x="608" y="230" xlink:href="#secondS"/>
        <use id="secondYour0" x="188" y="230" xlink:href="#secondS"/>
        <use id="secondYour1" x="356" y="230" xlink:href="#secondS"/>
        <use id="secondYour2" x="524" y="230" xlink:href="#secondS"/>
        <use id="secondYour3" x="692" y="230" xlink:href="#secondS"/>

        <use id="vabankEnemy" x="45" y="230" xlink:href="#vabankS"/>
        <use id="vabankYour" x="751" y="230" xlink:href="#vabankS"/>

        <rect id="gimmicksActivationZone0" class="" width="188" height="460" x="0" y="0"/>
        <rect id="gimmicksActivationZone1" class="" width="168" height="460" x="188" y="0"/>
        <rect id="gimmicksActivationZone2" class="" width="168" height="460" x="356" y="0"/>
        <rect id="gimmicksActivationZone3" class="" width="272" height="460" x="524" y="0"/>
    </g>
</svg>
