<div class="arena">{{>arena}}</div>
<div class="opponent"></div>
<div class="im"></div>
{{! after live_round class takes overtime matchover }}
<div class="live_round">{{>live_round}}</div>
<div id="stadiumControls"></div>
<div id="resultindicator" data-score-difference="0">UBBU LIGHT</div>
