<!DOCTYPE html>
<html>
<head>
	<title>UBBU LIGHT</title>
    <link rel="stylesheet" type="text/css" href="public/main.css">
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://vk.com/js/api/xd_connection.js?2" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.9/howler.js" defer></script>
    <script src="public/arenaComponent.js" defer></script>
    <script src="public/arenaAnimations.js" defer></script>
    <script src="public/build.js" defer></script>
</head>
<body>

	{{{ body }}}

</body>
</html>