<div id="app">
    <div id="commonstuff" class="container">
        <svg id="logo" class="logo" width="69" height="27">
            <defs>
                <linearGradient id="a" x1="100%" x2="0%" y1="0%" y2="100%">
                    <stop offset="0%" stop-color="#E47272"/>
                    <stop offset="100%" stop-color="#63B4F5"/>
                </linearGradient>
            </defs>
            <path fill="url(#a)" fill-rule="evenodd" d="M42.18 35.6c.07 1.12.05 2.11-.07 2.96-.12.85-.4 1.55-.85 2.09-.44.54-1.1.93-1.96 1.17-.86.24-2 .31-3.38.22l-.94-3.53c1.03.07 1.8-.03 2.3-.29.5-.26.72-.85.65-1.76l-.03-.22L27.24 16.8h3.89l4.46 8.6 2.81 5.9-.61-5.86-.54-8.64h4.14l.79 18.8zm10.7 6.4l-6.7-25.2h11.06l.97 3.6h-7.13l1.7 6.44h2.3c2 0 3.63.53 4.91 1.59a8.76 8.76 0 0 1 2.76 4.64l.72 2.7c.55 2.04.47 3.59-.25 4.65-.72 1.05-2.08 1.58-4.07 1.58h-6.27zm5.3-3.6c.62 0 1.07-.17 1.35-.5.27-.34.29-.96.05-1.88l-.86-3.2c-.24-.91-.6-1.54-1.05-1.87-.45-.34-1-.5-1.62-.5h-2.3l2.12 7.95h2.3zM70.82 42l-6.7-25.2h11.06l.97 3.6h-7.13l1.7 6.44h2.3c2 0 3.63.53 4.91 1.59a8.76 8.76 0 0 1 2.76 4.64l.72 2.7c.55 2.04.47 3.59-.25 4.65-.72 1.05-2.08 1.58-4.07 1.58h-6.27zm5.3-3.6c.62 0 1.07-.17 1.35-.5.27-.34.29-.96.05-1.88l-.86-3.2c-.24-.91-.6-1.54-1.05-1.87-.45-.34-1-.5-1.62-.5h-2.3l2.12 7.95h2.3zm19.63-2.8c.07 1.12.05 2.11-.07 2.96-.12.85-.4 1.55-.85 2.09-.44.54-1.1.93-1.96 1.17-.87.24-2 .31-3.39.22l-.93-3.53c1.03.07 1.8-.03 2.3-.29.5-.26.72-.85.65-1.76l-.04-.22L80.81 16.8h3.89l4.46 8.6 2.8 5.9-.6-5.86-.54-8.64h4.14l.79 18.8z" transform="translate(-27 -16)"/>
        </svg>
        <div id="globalControls"></div>
        <!--<div id="playtimetimer" class="playtime">-->
            <!--<div class="playtime__timer">00:00:00</div>-->
            <!--<div class="playtime__title">час игры через</div>-->
        <!--</div>-->
        <div id="onlineUsers" class="online_users"></div>
    </div>
    <div id="stadium" class="container container__stadium" hidden></div>
    <div id="dashboard" class="container container__dashboard"></div>
    <div id="resultmessage" hidden></div>
    <div id="poll" class="container" hidden></div>
    <div id="rules" class="container" hidden></div>
    <div id="tutorial" class="container container__tutorial" hidden></div>
    <div id="intro" class="container container__intro"></div>
    <div id="microgame" class="container container__microgame" style="cursor: url(/public/microgame/cursor.png) 14 14, auto" hidden></div>
    <div id="msg"></div>
</div>


