<div class="msg_lt">
    <div id="closepremicromessage" class="cancel dark"></div>
    <div class="msg_content">
        <div>ПОРАЖЕНИЕ</div>
        <div>Вы покинули матч во время боя</div>
        <div>👎</div>
    </div>
</div>