<div class="msg_lt">
    <div id="closepremicromessage" class="cancel dark"></div>
    <div class="msg_content">
        <div>Ваши новые награды:</div>
        <div>
            <strong>
                {{#each arr as |ach|}}
                    <p>{{ach.name}}</p>
                {{/each}}
            </strong>
        </div>
    </div>
</div>