<div class="msg_lt">
    <div id="closepremicromessage" class="cancel dark"></div>
    <div class="msg_content">
        <div>Сыграйте в микроигру,</div>
        <div>а мы найдём вам оппонента для Уббу</div>
        <div id="actionbutton" class="btn btn_danger">Играть</div>
    </div>
</div>