<div class="column__title headline _5">Мои награды</div>
<div class="column__line"></div>
<div class="column__scrolling">
    <div class="column__content">
        {{#each arr as |ach|}}
            <div class="column__achievement_block">
                <div class="achievement_box">
                    <img
                        src="{{ach.link}}"
                        title="«{{ach.name}}»{{#if ach.received}} за успехи {{ach.received}}{{/if}}"
                    />
                    {{#if ach.times}}
                        <div class="mult">x {{ach.times}}</div>
                    {{/if}}
                    <div class="subtitle">{{ach.title}}</div>
                </div>
            </div>
        {{/each}}
    </div>
</div>