<div class="column__title headline _5">{{ Title }}</div>
<div class="column__line" {{#if Indicator}}id="historyIndicator" data-win="" data-lose=""{{/if}}>
    {{#if Indicator}}
        <div class="column__line__indicator">
            <div class="column__line__indicator_bar" style="transform: translateX(50%);"></div>
        </div>
    {{/if}}
</div>
<div class="column__scrolling">
    <div class="column__content"></div>
</div>