{{#each arr as |game|}}
    <div class="result_date">{{[helpers/date] game.date }}</div>
    <div class="result {{{ game.resultForMe }}}">
    {{#if game.stickerURL}}
        <img class="sticker" src="{{{ game.stickerURL }}}" alt="sticker">
    {{/if}}
        <div class="card">
            <div class="opponent">
                <img class="user_image result__user_image _30 open_profile" src="{{{ game.opponent.photo_50 }}}" alt="avatar">
                <div class="user_name result__user_name">{{{ game.opponent.first_name }}}</div>
                <div class="user_rating result__user_rating">{{{ game.opponent.ratingBeforeGame }}}</div>
                <div class="match_score result__match_score">{{{[helpers/walkover] game.opponent.score }}}</div>
            </div>
            <div class="im">
                <img class="user_image result__user_image _30" src="{{{ game.me.photo_50 }}}" alt="avatar">
                <div class="user_name result__user_name">{{{ game.me.first_name }}}</div>
                <div class="user_rating result__user_rating"
                     data-user-rating-change={{[helpers/ratingdiff] game.me.ratingAfterGame game.me.ratingBeforeGame}}
                >{{{ game.me.ratingBeforeGame }}}</div>
                <div class="match_score result__match_score">{{{[helpers/walkover] game.me.score }}}</div>
            </div>
        </div>
        <div class="match_winner_line"></div>
        <div class="match_data_time">{{{[helpers/time] game.date }}}</div>
    </div>
{{/each}}
