{{#each arr as |player|}}
    <div id="{{{player.id}}}" class="rating card">
        <img class="user_image rating__user_image _50" src="{{{ player.photo_50 }}}" alt="{{{ player.first_name }}}">
        <div class="user_name rating__user_name">{{{ player.first_name }}}</div>
        <div class="user_city rating__user_city">{{{ player.city.title }}}</div>
        <div class="user_points rating__user_points">{{{ player.points }}}</div>
        <div class="user_rating rating__user_rating">{{{ player.rating }}}</div>
    </div>
{{/each}}