<div id="menu" class="menu"></div>
<div id="playButton" class="btn btn_success btn__large btn__start">Играть</div>
<div id="autoAnswer" class="auto_answer"></div>
<div id="mycard" class="rating card my_card"></div>
<div id="topPlayersColumn" class="column column__dashboard column__dashboard__left"></div>
<div id="myGamesColumn" class="column column__dashboard column__dashboard__center"></div>
<div id="achievementsColumn" class="column column__dashboard column__dashboard__right"></div>
<div id="friendsColumn" class="column column__dashboard column__dashboard__right_2"></div>
