<img class="user_image rating__user_image _50" src="{{UserPic}}" alt="{{ FirstName }}">
<div class="user_name rating__user_name">{{ FirstName }}</div>
<div class="user_city rating__user_city">{{{ City }}}</div>
<div class="user_points rating__user_points">
    <span id="mypoints" data-points-emerging="{{PointsDiff}}">{{Points}}</span>
</div>
<div id="myrating" class="user_rating rating__user_rating" data-rating-emering="{{RatingDiff}}">{{Rating}}</div>