{{#each controls as |control|}}
    <div id="control_{{{ control.type }}}" class="side_control_panel side_control_panel__{{{ control.type }}}">
        <div></div>
        <img id="{{{ control.type }}}icon" class="side_control_panel__image" src="{{{ control.imageURL }}}" alt="{{{ control.title }}}">
        <div class="side_control_panel__title">{{{ control.title }}}</div>
    </div>
{{/each}}