.achievement_box {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 20px 0;
    text-align: center;

    img {
        display: inline-block;
    }

    .mult {
        position: absolute;
        top: 60px;
        right: 50%;
        transform: translateX(80px);
        font-size: 14px;
        color: #747474;
    }

    .subtitle {
        text-align: center;
        color: #9d9d9d;
        font-size: 11px;
        letter-spacing: .2px;
    }
}