[data-points-emerging^="+"]:after {
    position: absolute;
    content: attr(data-points-emerging);
    opacity: 0;
    color: $deep_orange_200;

    animation: userPointsAnimationPlus ease-in-out 1500ms;

    @keyframes userPointsAnimationPlus {
       25% {
            opacity: 1;
        }
       100% {
            transform:translateX(30px) scale(3);
            opacity: 0;
        }
    }
}

[data-rating-emering^="+"]:after {
    color: $green_500;
}

[data-rating-emering^="-"]:after {
    color: $grey_500;
}

[data-rating-emering^="+"]:after,
[data-rating-emering^="-"]:after {
    position: absolute;
    content: attr(data-rating-emering);
    transform: translateX(20px);
    opacity: 0;

    animation: userRatingAnimation ease-in-out 3500ms 500ms;

    @keyframes userRatingAnimation {
        50% {
            opacity: 1;
        }
        75% {
            //transform:translateX(20px);
            opacity: 1;
        }
        100% {
            //transform:translateX(20px);
            opacity: 0;
        }
    }
}