.auto_answer {
    position: absolute;
    width: 80px;
    height: 14px;
    left: 50%;
    transform: translate(-50%, 175px);

    &.on {
        .auto_answer {
           &__switch {
                background: $green_300;
               will-change: transform;
               transform: translateX(100%);

                &:before {
                    width: 0;
                    height: 0;
                    background: none;
                    border-top: 4px solid transparent;
                    border-bottom: 4px solid transparent;;
                    //border-left: 7px solid $green_500;
                    border-left: 7px solid $green_600;
                    transform: translate(-4px, 1px);
                    //box-shadow: -1px 0 1px 0 $green_100;
                    box-shadow: none;
                }

                &:after {
                    opacity: 0;
                }
            }
        }
    }

    &__title {
        position: absolute;
        top: -15px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 11px;
        color: $blue_grey_500;
        letter-spacing: .5px;
    }

    &__case {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        border-radius: 3px;
        background: $blue_grey_50;
        box-shadow: inset 0 0 1px 1px $grey_300;
        cursor: pointer;
    }

    &__switch {
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        left: 0;
        background: $blue_grey_100;
        transition: ease-in-out 300ms;

        &:before,
        &:after {
            display: block;
            position: absolute;
            content: '';
            width: 1px;
            height: 10px;
            top: 2px;
            left: 50%;
            background: $blue_grey_200;
            box-shadow: -1px 0 1px 0 $grey_100;
        }

        &:before {
            transform: translateX(-2px);
        }

        &:after {
            transform: translateX(2px);
        }
    }
}