.btn {
    display: inline-block;
    padding: 6px 14px 4px 14px;
    border-radius: 4px;
    letter-spacing: 0.6px;
    cursor: pointer;
    text-align: center;

    &_danger {
        background: $red_500;
        color: #fff;

        &:hover {
            background: $red_700;
            box-shadow: 0 0 0 3px $red_100;
        }

        &.disable {
            background: $red_100;
            box-shadow: none;
            cursor: default;
        }

        &.attention_marker {
            animation: 2000ms toAttractAttentionBtnDanger infinite forwards;

            @keyframes toAttractAttentionBtnDanger {
                0% {
                    box-shadow: 0 0 0 0 $red_100;
                }
                100% {
                    box-shadow: 0 0 0 15px rgba(255, 204, 209, 0);
                }
            }
        }

        &[class*="large"].attention_marker {
            animation: 2000ms toAttractAttentionBtnDangerLarge infinite forwards;

            @keyframes toAttractAttentionBtnDangerLarge {
                0% {
                    box-shadow: 0 0 0 0 $red_100;
                }
                100% {
                    box-shadow: 0 0 0 35px rgba(255, 204, 209, 0);
                }
            }
        }
    }

    &_success {
        background: $green_500;
        color: #fff;

        &:hover {
            background: $green_700;
            box-shadow: 0 0 0 3px $green_100;
        }

        &.disable {
            background: $green_100;
            box-shadow: none;
            cursor: default;
        }

        &.attention_marker {
            animation: 2000ms toAttractAttentionBtnSuccess infinite forwards;

            @keyframes toAttractAttentionBtnSuccess {
                0% {
                    box-shadow: 0 0 0 0 $green_100;
                }
                100% {
                    box-shadow: 0 0 0 15px rgba(199, 229, 200, 0);
                }
            }
        }

        &[class*="large"].attention_marker {
            animation: 2000ms toAttractAttentionBtnSuccessLarge infinite forwards;

            @keyframes toAttractAttentionBtnSuccessLarge {
                0% {
                    box-shadow: 0 0 0 0 $green_100;
                }
                100% {
                    box-shadow: 0 0 0 35px rgba(199, 229, 200, 0);
                }
            }
        }
    }

    &_primary {
        background: $blue_500;
        color: #fff;

        &:hover {
            background: $blue_700;
            box-shadow: 0 0 0 3px $blue_100;
        }

        &.disable {
            background: $blue_100;
            box-shadow: none;
            cursor: default;
        }

        &.attention_marker {
            animation: 2000ms toAttractAttentionBtnPrimary infinite forwards;

            @keyframes toAttractAttentionBtnPrimary {
                0% {
                    box-shadow: 0 0 0 0 $blue_100;
                }
                100% {
                    box-shadow: 0 0 0 15px rgba(186, 221, 251, 0);
                }
            }
        }

        &[class*="large"].attention_marker {
            animation: 2000ms toAttractAttentionBtnPrimaryLarge infinite forwards;

            @keyframes toAttractAttentionBtnPrimaryLarge {
                0% {
                    box-shadow: 0 0 0 0 $blue_100;
                }
                100% {
                    box-shadow: 0 0 0 35px rgba(186, 221, 251, 0);
                }
            }
        }
    }

    &__large {
        padding: 18px 28px 14px 28px;
        border-radius: 6px;
        font-size: 16px;
        letter-spacing: 1px;
    }

    &__start {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 106px);
    }
}