.cancel {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 80px;
    height: 80px;
    border-radius: 7px;
    cursor: pointer;
    z-index: 1;
    background: #fff;
    //border: 2px solid $blue_grey_100;

    //&:hover {
    //    box-shadow: 2px 2px 4px $blue_grey_100;
    //    //background: #fff;
    //}

    &:after,
    &:before {
        display: block;
        position: absolute;
        content: "";
        width: 56px;
        height: 3px;
        top: 50%;
        left: 50%;
        background: $blue_grey_300;
    }

    &:after {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &:before {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

//.light.cancel:after,
//.light.cancel:before {
//    background: $grey_50;
//}
//
//.dark.cancel:after,
//.dark.cancel:before {
//    background: $grey_800;
//}

