[data-score-difference] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 265px);
    transition: linear 500ms;

    font-size: 28px;
    font-weight: bold;
    letter-spacing: 4px;
    color: $red_300;
}

[data-score-difference="0"] {
    color: $blue_grey_100;
}

[data-score-difference^="-"] {
    color: $blue_300;
}
[data-score-difference="-1"] {
    transform: translate(-50%, 265px) perspective(777px) rotateX(-360deg) rotateY(-330deg);
}
[data-score-difference="-2"] {
    transform: translate(-50%, 265px) perspective(677px) rotateX(-360deg) rotateY(-325deg);
}
[data-score-difference="-3"] {
    transform: translate(-50%, 265px) perspective(677px) rotateX(-360deg) rotateY(-320deg);
}
[data-score-difference="-4"] {
    transform: translate(-50%, 265px) perspective(677px) rotateX(-360deg) rotateY(-315deg);
}
[data-score-difference="-5"] {
    transform: translate(-50%, 265px) perspective(677px) rotateX(-360deg) rotateY(-310deg);
}
[data-score-difference="-6"] {
    transform: translate(-50%, 265px) perspective(677px) rotateX(-360deg) rotateY(-305deg);
}
[data-score-difference="-7"] {
    transform: translate(-50%, 265px) perspective(677px) rotateX(-360deg) rotateY(-300deg);
}

[data-score-difference="1"] {
    transform: translate(-50%, 265px) perspective(777px) rotateX(-360deg) rotateY(330deg);
}
[data-score-difference="2"] {
    transform: translate(-50%, 265px) perspective(677px) rotateX(-360deg) rotateY(325deg);
}
[data-score-difference="3"] {
    transform: translate(-50%, 265px) perspective(677px) rotateX(-360deg) rotateY(320deg);
}
[data-score-difference="4"] {
    transform: translate(-50%, 265px) perspective(677px) rotateX(-360deg) rotateY(315deg);
}
[data-score-difference="5"] {
    transform: translate(-50%, 265px) perspective(677px) rotateX(-360deg) rotateY(310deg);
}
[data-score-difference="6"] {
    transform: translate(-50%, 265px) perspective(677px) rotateX(-360deg) rotateY(305deg);
}
[data-score-difference="7"] {
    transform: translate(-50%, 265px) perspective(677px) rotateX(-360deg) rotateY(300deg);
}