.container__intro {
    box-shadow: none;
    background: linear-gradient(to right, #63b4f5, #e47272);
    z-index: 10;

}

.intro_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro_spinner {
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
}