.menu {
    position: absolute;
    width: 100%;
    top: 30px;
    letter-spacing: .6px;
    text-align: center;

    a {
        display: inline-block;
        margin: 0 11px 0 11px;
        padding: 6px 14px;
        border-radius: 2px;
        cursor: pointer;
        color: $blue_grey_500;
        text-decoration: none;
        transition: box-shadow ease-in-out 250ms;
        box-shadow: 0 0 0 1px rgba(206, 215, 219, 0);
    }

    a:hover {
        box-shadow: 0 0 0 1px rgba(206, 215, 219, 1);
    }

    a.attention_marker {
        animation: 3000ms toAttractAttentionMenuButton infinite forwards;

        @keyframes toAttractAttentionMenuButton {
            0% {
                background: rgba(255, 204, 209, 0);
            }
            50% {
                background: $red_100;
                box-shadow: 0 0 0 0 $red_100;
            }
            100% {
                background: rgba(255, 204, 209, 0);
                box-shadow: 0 0 0 15px rgba(255, 204, 209, 0);
            }
        }
    }
}