.msg_lt {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 380px;
    height: 80px;
    border-radius: 7px;
    box-shadow: 0 0 0 1px $grey_300, inset 0 0 10px $grey_200, 0 4px 5px $grey_400;
    overflow: hidden;
    background: linear-gradient(to bottom, #fff, $grey_50);
    color: $blue_grey_400;
    transform: translateX(150%);
    animation: 1000ms msg_lt_Action 1000ms ease-in-out forwards;
    @keyframes msg_lt_Action {
        100% {
            transform: translateX(0);
        }
    }


    & .cancel {
        top: 0;
        right: 0;
        border-radius: 0;
        border-left: solid 1px $grey_300;
        background: transparent;
    }
}




//.msg_btn {
//    position: absolute;
//    width: 80px;
//    height: 80px;
//    right: 0;
//    border-left: solid 1px $grey_300;
//    background: transparent;
//    text-align: center;
//    line-height: 84px;
//    font-size: 16px;
//    letter-spacing: 1px;
//    cursor: pointer;
//
//    &:hover {
//        background: $grey_500;
//        color: #fff;
//    }
//}

//.msg_txt-mg {
//    position: absolute;
//    bottom: 8px;
//    left: 50%;
//    transform: translateX(-50%);
//
//    //div {
//    //    white-space: nowrap;
//    //    font-size: 11px;
//    //    color: $orange_500;
//    //}
//}



.msg_content {
    position: absolute;
    top: 0;
    right: 80px;
    bottom: 0;
    left: 0;
    padding: 12px;
    text-align: center;

    //& .microgame_logo {
    //    position: relative;
    //    top: auto;
    //    left: 50%;
    //    transform: translate(-50%,-4px);
    //}

    & .btn {
        margin-top: 6px;
    }
}