$red: #BE202E;
$blue: #1D76BB;



//Обратный отсчет перед раундами
//$countdown-r: 7;
//$countdown-cy-start: -27;
$countdown-cy-end: 26;
$countdown-color-start: $deep_purple_200;
$countdown-color-end: $deep_purple_500;
$countdown-stroke-width-start: 0;
$countdown-stroke-width-end: 40;
$countdown-stroke-opacity-start: .25;
$countdown-stroke-opacity-end: 0;
#countdown {
	circle {
		//r: $countdown-r;
		//cy: $countdown-cy-start;
		fill: $countdown-color-start;
		stroke: $countdown-color-end;
		stroke-width: $countdown-stroke-width-start;
		stroke-opacity: $countdown-stroke-opacity-start;
		//&:nth-child(1) {
		//	cx: 356;
		//}
		//&:nth-child(2) {
		//	cx: 398;
		//}
		//&:nth-child(3) {
		//	cx: 440;
		//}
	}
	&.on circle {
		&:nth-child(1) {
			will-change: transform;
			animation: turnOnCounting1 3000ms forwards;
		}
		&:nth-child(2) {
			will-change: transform;
			animation: turnOnCounting2 3000ms forwards;
		}
		&:nth-child(3) {
			will-change: transform;
			animation: turnOnCounting3 3000ms forwards;
		}
	}

}

@keyframes turnOnCounting1 {
	5% {
		transform: translateY(27px + 26px);
		//cy: $countdown-cy-end;
	}
	20% {
		fill: $countdown-color-start;
		stroke-width: $countdown-stroke-width-start;
		stroke-opacity: $countdown-stroke-opacity-start;
	}
	23.3333% {
		fill: $countdown-color-end;
	}
	40% {
		stroke-width: $countdown-stroke-width-end;
		stroke-opacity: $countdown-stroke-opacity-end;
	}
	90% {
		transform: translateY(27px + 26px);
		//cy: $countdown-cy-end;
	}
	100% {
		fill: $countdown-color-end;
		stroke-opacity: $countdown-stroke-opacity-end;
	}
}

@keyframes turnOnCounting2 {
	10% {
		transform: translateY(27px + 26px);
		//cy: $countdown-cy-end;
	}
	45% {
		fill: $countdown-color-start;
		stroke-width: $countdown-stroke-width-start;
		stroke-opacity: $countdown-stroke-opacity-start;
	}
	48.3333% {
		fill: $countdown-color-end;
	}
	65% {
		stroke-width: $countdown-stroke-width-end;
		stroke-opacity: $countdown-stroke-opacity-end;
	}
	90% {
		transform: translateY(27px + 26px);
		//cy: $countdown-cy-end;
	}
	100% {
		fill: $countdown-color-end;
		stroke-opacity: $countdown-stroke-opacity-end;
	}
}

@keyframes turnOnCounting3 {
	15% {
		transform: translateY(27px + 26px);
		//cy: $countdown-cy-end;
	}
	68% {
		fill: $countdown-color-start;
		stroke-width: $countdown-stroke-width-start;
		stroke-opacity: $countdown-stroke-opacity-start;
	}
	71.3333% {
		fill: $countdown-color-end;
	}
	88% {
		stroke-width: $countdown-stroke-width-end;
		stroke-opacity: $countdown-stroke-opacity-end;
	}
	90% {
		transform: translateY(27px + 26px);
		//cy: $countdown-cy-end;
	}
	100% {
		fill: $countdown-color-end;
		stroke-opacity: $countdown-stroke-opacity-end;
	}
}






//Таймер
#timer {
	line {
		//opacity: .75;
		&:nth-child(1) {
			stroke: #ced7db;
			stroke-width: 2;
		}
		&:nth-child(2) {
			stroke: #ced7db;
			stroke-width: 2;
		}
		&:nth-child(3) {
			stroke: #ced7db;
			stroke-width: 10;
		}
	}
	&.on line {
		&:nth-child(2) {
			stroke: $red;
		}
		&:nth-child(3) {
			stroke: $red;
		}
	}
}


//Разметка поля
#layout {
	stroke-width: 1;
	fill: none;
	
	[id*="Your"] {
		stroke: $red;
		
		&.off {
			display: none;
		}
	}
	line[id*="Your"].on,
	circle[id*="Your"].on {
		stroke-width: 4;
	}
	[id*="Enemy"] {
		stroke: $blue;
		
		&.off {
			display: none;
		}
	}
	path {
		display: none;
		
/* Прерывистая линия перевода
		&.visibleMiddle {
			display: block;
			opacity: .7;
			stroke-dasharray: 7;
		}
*/
		
		&.on {
			display: block;
		}
	}
}




#gimmicksPanel {
	display: none;
	fill: $red;
	g use:nth-of-type(even) {
		fill-opacity: 0;
		stroke-dasharray: 1, 3;
		stroke: $red;
	}
	&.sleep {
		display: block;
		g use {
			opacity: .25;
			cursor: default;
		}
	}
	&.on {
		display: block;
		g use:nth-of-type(even) {
			opacity: .6;
			cursor: pointer;
			&:hover {
				opacity: 1;
				stroke-width: 2;
			}
		}
		g use:nth-of-type(odd) {
			opacity: .6;
		}
		g use:nth-of-type(odd).on {
			opacity: 1;
		}
	}
	
	
	
	
	g.used use {
		fill: #ccc;
	}
	g.used use:nth-of-type(even) {
		stroke: #ccc;
		cursor: default;
		&:hover {
			opacity: .6;
			stroke-width: 1;
		}
	}

	text {
		opacity: 0;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 10px;
		text-anchor: middle;
		//fill: #ccc;
	}

	g:hover text {
		opacity: .4;
	}

	g.used text {
		fill: #ccc;
		opacity: .5;
	}
	
	
}




.gimmicksLayout {
	use {
		display: none;
		&.on {
			display: block;
			opacity: 1;
		}
		&.visibleMiddle {
			display: block;
			opacity: .25;
		}
	}
	[id*="Your"] {
		fill: $red;
	}
	[id*="Enemy"] {
		fill: $blue;
	}
	[id*="second"] {
		fill: #fff;
	}
}


#gimmicksPositionsAndActivationZones {
	rect {
		display: none;
		cursor: pointer;
		fill-opacity: 0;
		
	}
	rect.on {
		display: block;
	}
}














#rocks {
	display: none;
	&.on {
		display: block;
	}
	circle {
		display: none;
		//r: 20;
		&.on {
			display: block;
		}
	}
	[id*="Enemy"] {
		fill: $blue;
	}
	[id*="Your"] {
		fill: $red;
/*
		~ g[id$="Rock"] circle {
			display: none;
		}
		&.on ~ g[id$="Rock"] circle {
			display: block;
		}
*/
	}
	[class*="arrow"] {
		display: none;
		fill: #fff;
	}
	// зоны активации
	[id*="activation"] {
		//opacity: .5;
		display: none;
		//stroke: black;
		//stroke-width: 3;
		fill-opacity: 0;
		&.on {
			display: block;
			cursor: pointer;
		}
	}
	
	
	
	
	g circle {
		fill: $red;
		opacity: .25;
		&.top {
			will-change: transform;
			animation: rockMoveTop 1000ms infinite;
		}
	}
	#firstRock circle {
		&.top ~ .arrowTop {
			display: block;
		}
		&.left {
			will-change: transform;
			animation: rockMoveLeft 1000ms infinite;
			~ .arrowLeft {
				display: block;
			}
		}
		&.right {
			will-change: transform;
			animation: rockMoveRight 1000ms infinite;
			~ .arrowRight {
				display: block;
			}
		}
	}
	#secondRock circle {
		&.top ~ .arrowTop {
			display: block;
		}
		&.left {
			will-change: transform;
			animation: rockMoveLeft 1000ms infinite;
			~ .arrowLeft {
				display: block;
			}
		}
		&.right {
			will-change: transform;
			animation: rockMoveRight 1000ms infinite;
			~ .arrowRight {
				display: block;
			}
		}
	}
	#thirdRock circle {
		&.top ~ .arrowTop {
			display: block;
		}
		&.left {
			will-change: transform;
			animation: rockMoveLeft 1000ms infinite;
			~ .arrowLeft {
				display: block;
			}
		}
		&.right {
			will-change: transform;
			animation: rockMoveRight 1000ms infinite;
			~ .arrowRight {
				display: block;
			}
		}
	}
	#fourthRock circle {
		&.top ~ .arrowTop {
			display: block;
		}
		&.left {
			will-change: transform;
			animation: rockMoveLeft 1000ms infinite;
			~ .arrowLeft {
				display: block;
			}
		}
	}
}

@keyframes rockMoveTop {
	80% {
		opacity: .25;
	}
	100% {
		transform: translateY(-135px);
		opacity: 0;
		//cy: 230;
	}
}
@keyframes rockMoveLeft {
	80% {
		opacity: .25;
	}
	100% {
		transform: translateX(-85px);
		opacity: 0;
	}
}
@keyframes rockMoveRight {
	80% {
		opacity: .25;
	}
	100% {
		transform: translateX(85px);
		opacity: 0;
	}
}









/*
#arena {
	&.rocksActivated {
		.rocks {
			[id*="rock"] {
				opacity: 1;
			}
		}
	}
	&.rocksActivatedYour {
		.rocks {
			[id*="rockYour"] {
				opacity: 1;
			}
		}
	}
	&.rocksActivatedYour0 {
		.rocks {
			#rockYour0 {
				opacity: 1;
			}
		}
	}
	&.rocksActivatedYour1 {
		.rocks {
			#rockYour1 {
				opacity: 1;
			}
		}
	}
	&.rocksActivatedYour2 {
		.rocks {
			#rockYour2 {
				opacity: 1;
			}
		}
	}
	&.rocksActivatedYour3 {
		.rocks {
			#rockYour3 {
				opacity: 1;
			}
		}
	}
	&.rocksActivatedEnemy {
		.rocks {
			[id*="rockEnemy"] {
				opacity: 1;
			}
		}
	}
	&.rocksActivatedEnemy0 {
		.rocks {
			#rockEnemy0 {
				opacity: 1;
			}
		}
	}
	&.rocksActivatedEnemy1 {
		.rocks {
			#rockEnemy1 {
				opacity: 1;
			}
		}
	}
	&.rocksActivatedEnemy2 {
		.rocks {
			#rockEnemy2 {
				opacity: 1;
			}
		}
	}
	&.rocksActivatedEnemy3 {
		.rocks {
			#rockEnemy3 {
				opacity: 1;
			}
		}
	}
}
*/





//@include "stone";




