.online_users {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 10px;
    color: #8fa3ad;
    z-index: 2;

    &:before {
        content: 'ONLINE: ';
        font-size: 8px;
    }
}