@import url('https://fonts.googleapis.com/css?family=PT+Mono');
.playtime {
    position: absolute;
    top: 54px;
    left: 55px;
    z-index: 1;

    &__timer {
        font-size: 15px;
        font-family: 'PT Mono', monospace;
        color: #ffb200;
        white-space: nowrap;
        letter-spacing: 1.1px;
    }

    &__title {
        font-size: 10px;
        text-align: center;
        white-space: nowrap;
        color: #ffb200;
        letter-spacing: .6px;
    }
}