.side_control_panel {
    position: absolute;
    right: 20px;
    cursor: pointer;

    div:nth-child(1) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 50px;
        //box-shadow: 0 0 0 1px red;
        border-radius: 3px;
        background: #ebeef0;
        z-index: -5;
        cursor: default;
    }

    &__resign {
        top: 20px;
    }

    &__sound {
        bottom: 20px;
        z-index: 1;
    }

    &__full_screen {
        bottom: 20px + 25px + 20px;
        z-index: 1;

        //Класс привлечения внимания
        &.attention_marker {

            &:before,
            &:after {
                display: block;
                position: absolute;
                content: '';
                top: 40%;
                left: 50%;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: $red_50;
                border: 1px solid $red_300;
                transform: translate(-50%, -50%) scale(0);
                z-index: -1;
            }

            &:before {
                animation: 3000ms toAttractAttentionFullScreen infinite;
            }

            &:after {
                animation: 3000ms toAttractAttentionFullScreen 2000ms infinite;
            }

            @keyframes toAttractAttentionFullScreen {
                0% {
                    transform: translate(-50%, -50%) scale(0);
                    opacity: 1;
                }
                100% {
                    transform: translate(-50%, -50%) scale(3);
                    opacity: 0;
                }
            }
        }
    }

    &__keyboard {
        bottom: 20px + 25px + 20px + 25px + 20;
    }

    &__title {
        position: absolute;
        top: 0;
        right: 140%;
        visibility: hidden;
        font-size: 11px;
        color: $blue_grey_500;
        background: $blue_grey_50;
        padding: 5px 8px 4px 8px;
        border-radius: 2px;
        white-space: nowrap;
        box-shadow: 0 0 0 1px $blue_grey_100;
        opacity: 0;
    }

    &__image {
        width: 20px;
        height: 20px;

        &:hover ~ .side_control_panel__title {
            visibility: visible;
            transition: opacity ease-in-out 300ms;
            opacity: 1;
        }
    }
}