//@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
.container__tutorial {
    background: $blue_grey_700;
    box-shadow: none;
    overflow: hidden;

    .arena {
        box-shadow: none;
    }

    &.end {
        animation: 1000ms tutorialEnd linear 1500ms forwards;
        @keyframes tutorialEnd {
            to {
                opacity: 0;
            }
        }
    }
}


.tutorial {
    &__title {
        position: absolute;
        top: 118px;
        right: -10px;
        font-size: 9px;
        //font-family: 'Open Sans Condensed', sans-serif;
        color: #fff;
        z-index: 1;

        &_ribbon {
            width: 170px;
            height: 25px;
            background: #ffb200;
            transform: skew(25deg);
        }

        &_text {
            position: absolute;
            top: 50%;
            left: 47%;
            transform: translate(-50%, -50%);
            //padding: 30px 10px;
            text-align: center;
            white-space: nowrap;
        }
    }
}

.arena ~ .cancel {
    background: none;
}








