@import "material_palette";
//@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 0.3px;
    color: $grey_800;
    user-select: none;
}

.headline {
    &._2 {
        font-size: 28px;
    }

    &._3 {
        font-size: 20px;
    }

    &._4 {
        font-size: 16px;
    }

    &._5 {
        font-size: 14px;
    }

    &._6 {
        font-size: 13px;
    }
}

#app:-webkit-full-screen {
    width: 100%;
    height: 100%;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    min-height: 660px;
    overflow: hidden;
    box-shadow: inset 0 0 25px $blue_grey_100;

    &__dashboard {
        background: $grey_100;
    }

    &__stadium {
        background: linear-gradient(to bottom, $blue_grey_50 50%, $grey_50 50%);
    }

    &__loader {
        box-shadow: none;
        background: #000;
        z-index: 10;
    }

    &__user_card {
        background: rgba(206, 215, 219, 0.75);
        //background: $grey_100;

        &:before {
            display: block;
            position: absolute;
            content: "";
            width: 580px;
            height: 100%;
            left: 50%;
            transform: translateX(-50%);
            background: $grey_100;
            box-shadow: 0 0 30px $blue_grey_500;
        }
    }

    &__credits {
        background: linear-gradient(to bottom, #fff, $blue_grey_100);
        box-shadow: none;
    }

    &__dimmed_25 {
        background: rgba(0, 0, 0, 0.25);
        box-shadow: none;
    }

    &__dimmed {
        background: rgba(0, 0, 0, 0.85);
        box-shadow: none;
    }
}

$column_width: 240px;
$column_title_height: 30px;
$column_line_height: 1px;
$column_scrolling_height_sum: $column_title_height + $column_line_height;
$column_content_margin_bottom: 80px;

.column {
    position: absolute;
    width: $column_width;
    overflow: hidden;

    &__title {
        width: 100%;
        height: $column_title_height;
        line-height: $column_title_height;
        letter-spacing: 0.3px;
        text-align: center;
    }

    &__line {
        width: $column_width;
        height: $column_line_height;
        background: $blue_grey_200;

        &__indicator {
            position: absolute;
            width: 100%;
            height: 6px;
            background: linear-gradient(
                to top,
                $blue_400,
                $blue_200,
                $blue_300
            );
            border-radius: 3px;
            transform: translateY(-50%);
            z-index: 2;
            overflow: hidden;

            &_bar {
                position: absolute;
                width: 100%;
                height: 100%;
                background: linear-gradient(
                    to top,
                    $red_400,
                    $red_200,
                    $red_300
                );
                transition: ease-in-out 300ms;
            }
        }

        &#historyIndicator {
            &:before,
            &:after {
                display: block;
                position: absolute;
                top: 15px;
                font-size: 10px;
                letter-spacing: 0.2px;
            }

            &:before {
                content: attr(data-lose);
                color: $blue_300;
            }

            &:after {
                content: attr(data-win);
                right: 0;
                color: $red_300;
            }
        }
    }

    &__scrolling {
        width: 300px;
        height: calc(100% - #{$column_scrolling_height_sum});
        overflow-x: hidden;
        overflow-y: scroll;
    }

    &__content {
        width: $column_width;
        margin-bottom: $column_content_margin_bottom;
    }

    &__dashboard {
        top: 198px;
        bottom: 0;

        &__left {
            right: 50%;
            transform: translateX(-173px);
        }

        &__center {
            left: 50%;
            transform: translateX(-50%);
        }

        &__right {
            left: 50%;
            transform: translateX(173px);

            &_2 {
                left: 50%;
                transform: translateX(500px);

                &:fullscreen {
                    transform: translateX(466px);
                }
            }
        }
    }

    &__user_card {
        top: 5px;
        bottom: 0;
        transform: translateX(10px);
    }

    &__post_match__stickers {
        top: 144px;
        bottom: 0;
    }
}

.card {
    border-radius: 2px;
    box-shadow: 0 0 0 1px $blue_grey_100;
    background: #fff;
}

.user_image {
    display: block;

    &._50 {
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }

    &._30 {
        width: 30px;
        height: 30px;
        border-radius: 15px;
    }

    &._100 {
        width: 100px;
        height: 100px;
        border-radius: 3px;
    }
}

.user_rating {
    color: $blue_700;

    &:before {
        content: "#" "\a0";
        font-size: 0.8em;
        color: $blue_500;
    }
}

.user_city {
    font-size: 11px;
    letter-spacing: 0.2px;
    color: $grey_500;
}

.user_points {
    color: $blue_grey_500;

    &:before {
        content: "Поинты:\a0";
        font-size: 11px;
    }
}

.open_profile {
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 0 3px $blue_100;
    }
}

.sticker {
    display: block;
    max-width: 192px;
    max-height: 192px;

    &__icon {
        max-width: 92px;
        max-height: 92px;
    }
}

.rating {
    position: relative;
    width: 200px;
    height: 70px;
    margin: 20px;

    &__user_image {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    &__user_name {
        position: absolute;
        top: 10px;
        left: 70px;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 90px;
        white-space: nowrap;
        //background: red;
    }

    &__user_city {
        position: absolute;
        top: 50%;
        left: 70px;
        transform: translateY(-50%);
    }

    &__user_points {
        position: absolute;
        bottom: 10px;
        left: 70px;
    }

    &__user_rating {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

.result {
    position: relative;
    width: 200px;
    margin: 40px 20px;

    .card {
        position: relative;
        width: 200px;
        height: 100px;
        &:after {
            display: block;
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            top: 50%;
            background: $blue_grey_100;
        }
    }

    .match_score {
        width: 45px;
        height: 30px;
        border-radius: 2px;
        font-size: 14px;
        line-height: 31px;
        color: #fff;
        background: $blue_grey_300;
        text-align: center;
    }

    &._w {
        .im {
            .match_score {
                background: $red_400;
            }
        }
    }

    &._l {
        .opponent {
            .match_score {
                background: $blue_400;
            }
        }
    }

    .opponent {
        .result__user_image {
            position: absolute;
            top: 10px;
            left: 10px;
        }
        .result__user_name {
            position: absolute;
            top: 10px;
            left: 50px;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 90px;
            white-space: nowrap;
            //background: red;
        }
        .result__user_rating {
            position: absolute;
            top: 26px;
            left: 50px;
        }
        .result__match_score {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }

    .im {
        .result__user_image {
            position: absolute;
            bottom: 10px;
            left: 10px;
        }
        .result__user_name {
            position: absolute;
            bottom: 26px;
            left: 50px;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 90px;
            white-space: nowrap;
            //background: red;
        }
        .result__user_rating {
            position: absolute;
            bottom: 10px;
            left: 50px;
            &:after {
                content: "\a0" attr(data-user-rating-change);
                color: $green_700;
            }
        }
        .result__match_score {
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
    }

    &_date {
        color: $grey_600;
        text-align: center;

        &:first-of-type {
            margin-top: 40px;
        }
    }

    & .sticker {
        padding: 4px 4px 24px 4px;
    }
}

.match_winner_line {
    display: none;
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
}
.result._w .match_winner_line {
    display: block;
    right: -12px;
    background: $red_200;
}
.result._l .match_winner_line {
    display: block;
    left: -12px;
    background: $blue_200;
}

.match_data_time {
    position: absolute;
    right: 0;
    top: -15px;
    font-size: 10px;
    letter-spacing: 0.2px;
    color: $blue_grey_500;
}

.column_text {
    width: 200px;
    margin: 20px;
    text-align: center;

    &__image {
        width: 100px;
        margin: 10px 50px;
    }

    &__title {
        margin: 10px 0;
        font-weight: bold;
    }

    &__body {
        margin-bottom: 20px;
        line-height: 18px;
    }
}

.user_card {
    &__header {
        position: absolute;
        width: 560px;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__case {
        float: left;
        margin: 10px;
        padding: 10px;
        text-align: center;

        &__rectangle {
            width: 100px;
            height: 240px;
        }

        &__quadrate {
            width: 100px;
            height: 100px;
        }
    }

    &__emoji {
        width: 32px;
        height: 32px;
        margin: 4px 0 6px 0;
    }

    &__data {
        font-size: 22px;
        margin-top: 11px;
    }

    &__body {
        position: absolute;
        width: 540px;
        top: 300px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        &__column {
            float: left;
            width: 260px;
            height: 100%;

            &:first-of-type {
                margin-right: 20px;
            }
        }
    }

    &__user_name {
        margin-top: 13px;
    }

    &__user_city {
        margin-top: 4px;
    }

    &__user_rating {
        margin-top: 2px;

        &__emoji {
            width: 20px;
            height: 20px;
            margin-top: 8px;
        }
    }

    &__user_points {
        margin-top: 2px;

        &__emoji {
            width: 20px;
            height: 20px;
            margin-top: 8px;
        }
    }
}

.container__stadium {
    .opponent {
        .user_image[src=""]:after {
            display: block;
            position: absolute;
            content: "";
            width: 105%;
            height: 105%;
            background: transparent;
            border-radius: 100%;
            opacity: 0.75;
            box-shadow: #fff -8px -9px 7px -7px;
            animation: searchOpponentAnimation 2s infinite linear;
        }

        @keyframes searchOpponentAnimation {
            0% {
                transform: rotateZ(0deg);
            }
            100% {
                transform: rotateZ(360deg);
            }
        }

        .user_image[src=""] ~ .live_score {
            background: $blue_grey_100;
        }

        .user_image {
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(-170px, -305px);
        }

        .user_name {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-160px, -286px);
        }

        .live_score {
            top: 50%;
            right: 50%;
            transform: translate(-10px, -300px);
            background: $blue_300;
        }
    }
    .im {
        .user_image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(170px, -305px);
        }

        .user_name {
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(160px, -286px);
        }

        .live_score {
            top: 50%;
            left: 50%;
            transform: translate(10px, -300px);
            background: $red_300;
        }
    }
}

.arena {
    position: absolute;
    width: 796px;
    height: 460px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 60px;
    box-shadow: 0 0 60px $blue_grey_300;
    background: #fff;
}

.live_score {
    position: absolute;
    width: 50px;
    height: 40px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 42px;
    text-align: center;
    color: #fff;
}

.live_round {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -248px);

    .round {
        float: left;
        width: 8px;
        height: 8px;
        border-radius: 4px;
        margin: 0 7px;
        box-shadow: 0 0 0 1px #fff;
        background: #fff;

        &.current {
            background: $green_300;
        }

        &.completed {
            background: $blue_grey_100;
        }
    }

    &:after {
        display: block;
        position: absolute;
        top: 38%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 4px 7px 4px 7px;
        //box-shadow: 0 0 0 1px $grey_50;
        border-radius: 2px;
        font-size: 11px;
        letter-spacing: 0.5px;
        white-space: nowrap;
        color: $grey_50;
    }

    &.overtime:after {
        content: "Дополнительное время";
        background: $green_300;
    }

    &.matchover:after {
        content: "Матч завершен";
        background: $blue_grey_300;
    }
}


.resign {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;

    &__title {
        position: absolute;
        top: 50%;
        right: 140%;
        transform: translateY(-50%);
        visibility: hidden;
        font-size: 11px;
        color: $blue_grey_500;
    }

    &__image {
        width: 25px;
        height: 25px;

        &:hover ~ .resign__title {
            visibility: visible;
        }
    }
}

.post_match {
    position: absolute;
    width: 560px;
    min-height: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    text-align: center;
    background: $grey_50;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);

    &__title {
        margin: 55px 0 10px 0;
    }

    &__text {
        color: $blue_grey_800;

        span {
            font-weight: bold;
        }
    }

    .btn.disable ~ .post_match__subbtn {
        display: none;
    }

    &__subbtn {
        display: block;
        margin: 20px 0;
        color: $blue_700;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &__timer {
        width: 70px;
        height: 70px;
        margin: 40px 0;
        border-radius: 35px;
        box-shadow: 0 0 0 1px $blue_grey_100;
        color: $blue_grey_300;
        transform: translateX(245px);
        line-height: 71px;
    }

    &__stickers {
        top: 20px;
        bottom: 0;
        transform: translateX(-50%);
        border-radius: 6px 6px 0 0;

        & .column {
            width: 520px;
            margin: 0 20px;

            &__line {
                width: 100%;
            }

            &__scrolling {
                width: 560px;
                height: 100%;
            }

            &__content {
                width: 520px;
            }
        }

        &__hashtag {
            display: inline-block;
            font-size: 11px;
            margin: 7px 0 0 7px;
            padding: 2px 8px;
            border-radius: 3px;
            color: $blue_500;
            background: $blue_50;
            text-decoration: none;

            &:hover {
                color: #fff;
                background: $blue_500;
            }

            &:before {
                content: "# ";
                font-size: 9px;
            }
        }

        &__title {
            width: 100%;
            //height: 30px;
            //line-height: 32px;
            margin: 17px 0 10px 0;
            padding: 6px 20px;
            text-align: left;
            background: $red_300;
            color: #fff;
        }

        &__catalog {
            div {
                position: relative;
                float: left;
                width: 92px;
                height: 92px;padding: 10px;
                margin: 9px;
                box-shadow: 0 0 0 1px $blue_grey_50;
                border-radius: 2px;
                cursor: pointer;

                &:hover {
                    background: #fff;
                }
            }

            & .sticker__icon {
                position: absolute;
                //display: inline-block;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}



@import "logo";
@import "menu";
@import "new.arena";
@import "my_card";
@import "btn";
@import "cancel";
@import "msg_lt";

@import "data-score-difference";
@import "animation_emerging_my_card_and_score";
@import "achievement";
@import "intro";
@import "tutorial";
@import "credits";
@import "microgame";
@import "auto_answer";
@import "side_control_panel";
@import "playtime";
@import "onlineUsers";
