@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import url("https://fonts.googleapis.com/css?family=PT+Mono");
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 0.3px;
  color: #414141;
  user-select: none; }

.headline._2 {
  font-size: 28px; }
.headline._3 {
  font-size: 20px; }
.headline._4 {
  font-size: 16px; }
.headline._5 {
  font-size: 14px; }
.headline._6 {
  font-size: 13px; }

#app:-webkit-full-screen {
  width: 100%;
  height: 100%; }

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 1000px;
  min-height: 660px;
  overflow: hidden;
  box-shadow: inset 0 0 25px #ced7db; }
  .container__dashboard {
    background: #f4f4f4; }
  .container__stadium {
    background: linear-gradient(to bottom, #ebeef0 50%, #f9f9f9 50%); }
  .container__loader {
    box-shadow: none;
    background: #000;
    z-index: 10; }
  .container__user_card {
    background: rgba(206, 215, 219, 0.75); }
    .container__user_card:before {
      display: block;
      position: absolute;
      content: "";
      width: 580px;
      height: 100%;
      left: 50%;
      transform: translateX(-50%);
      background: #f4f4f4;
      box-shadow: 0 0 30px #5f7c8a; }
  .container__credits {
    background: linear-gradient(to bottom, #fff, #ced7db);
    box-shadow: none; }
  .container__dimmed_25 {
    background: rgba(0, 0, 0, 0.25);
    box-shadow: none; }
  .container__dimmed {
    background: rgba(0, 0, 0, 0.85);
    box-shadow: none; }

.column {
  position: absolute;
  width: 240px;
  overflow: hidden; }
  .column__title {
    width: 100%;
    height: 30px;
    line-height: 30px;
    letter-spacing: 0.3px;
    text-align: center; }
  .column__line {
    width: 240px;
    height: 1px;
    background: #afbdc4; }
    .column__line__indicator {
      position: absolute;
      width: 100%;
      height: 6px;
      background: linear-gradient(to top, #41a4f4, #8fc9f9, #63b4f5);
      border-radius: 3px;
      transform: translateY(-50%);
      z-index: 2;
      overflow: hidden; }
      .column__line__indicator_bar {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, #ee524f, #ee9999, #e47272);
        transition: ease-in-out 300ms; }
    .column__line#historyIndicator:before, .column__line#historyIndicator:after {
      display: block;
      position: absolute;
      top: 15px;
      font-size: 10px;
      letter-spacing: 0.2px; }
    .column__line#historyIndicator:before {
      content: attr(data-lose);
      color: #63b4f5; }
    .column__line#historyIndicator:after {
      content: attr(data-win);
      right: 0;
      color: #e47272; }
  .column__scrolling {
    width: 300px;
    height: calc(100% - 31px);
    overflow-x: hidden;
    overflow-y: scroll; }
  .column__content {
    width: 240px;
    margin-bottom: 80px; }
  .column__dashboard {
    top: 198px;
    bottom: 0; }
    .column__dashboard__left {
      right: 50%;
      transform: translateX(-173px); }
    .column__dashboard__center {
      left: 50%;
      transform: translateX(-50%); }
    .column__dashboard__right {
      left: 50%;
      transform: translateX(173px); }
      .column__dashboard__right_2 {
        left: 50%;
        transform: translateX(500px); }
        .column__dashboard__right_2:fullscreen {
          transform: translateX(466px); }
  .column__user_card {
    top: 5px;
    bottom: 0;
    transform: translateX(10px); }
  .column__post_match__stickers {
    top: 144px;
    bottom: 0; }

.card {
  border-radius: 2px;
  box-shadow: 0 0 0 1px #ced7db;
  background: #fff; }

.user_image {
  display: block; }
  .user_image._50 {
    width: 50px;
    height: 50px;
    border-radius: 25px; }
  .user_image._30 {
    width: 30px;
    height: 30px;
    border-radius: 15px; }
  .user_image._100 {
    width: 100px;
    height: 100px;
    border-radius: 3px; }

.user_rating {
  color: #1875d1; }
  .user_rating:before {
    content: "#" "\a0";
    font-size: 0.8em;
    color: #2095f2; }

.user_city {
  font-size: 11px;
  letter-spacing: 0.2px;
  color: #9d9d9d; }

.user_points {
  color: #5f7c8a; }
  .user_points:before {
    content: "Поинты:\a0";
    font-size: 11px; }

.open_profile {
  cursor: pointer; }
  .open_profile:hover {
    box-shadow: 0 0 0 3px #baddfb; }

.sticker {
  display: block;
  max-width: 192px;
  max-height: 192px; }
  .sticker__icon {
    max-width: 92px;
    max-height: 92px; }

.rating {
  position: relative;
  width: 200px;
  height: 70px;
  margin: 20px; }
  .rating__user_image {
    position: absolute;
    top: 10px;
    left: 10px; }
  .rating__user_name {
    position: absolute;
    top: 10px;
    left: 70px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 90px;
    white-space: nowrap; }
  .rating__user_city {
    position: absolute;
    top: 50%;
    left: 70px;
    transform: translateY(-50%); }
  .rating__user_points {
    position: absolute;
    bottom: 10px;
    left: 70px; }
  .rating__user_rating {
    position: absolute;
    top: 10px;
    right: 10px; }

.result {
  position: relative;
  width: 200px;
  margin: 40px 20px; }
  .result .card {
    position: relative;
    width: 200px;
    height: 100px; }
    .result .card:after {
      display: block;
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      top: 50%;
      background: #ced7db; }
  .result .match_score {
    width: 45px;
    height: 30px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 31px;
    color: #fff;
    background: #8fa3ad;
    text-align: center; }
  .result._w .im .match_score {
    background: #ee524f; }
  .result._l .opponent .match_score {
    background: #41a4f4; }
  .result .opponent .result__user_image {
    position: absolute;
    top: 10px;
    left: 10px; }
  .result .opponent .result__user_name {
    position: absolute;
    top: 10px;
    left: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 90px;
    white-space: nowrap; }
  .result .opponent .result__user_rating {
    position: absolute;
    top: 26px;
    left: 50px; }
  .result .opponent .result__match_score {
    position: absolute;
    top: 10px;
    right: 10px; }
  .result .im .result__user_image {
    position: absolute;
    bottom: 10px;
    left: 10px; }
  .result .im .result__user_name {
    position: absolute;
    bottom: 26px;
    left: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 90px;
    white-space: nowrap; }
  .result .im .result__user_rating {
    position: absolute;
    bottom: 10px;
    left: 50px; }
    .result .im .result__user_rating:after {
      content: " " attr(data-user-rating-change);
      color: #378d3b; }
  .result .im .result__match_score {
    position: absolute;
    bottom: 10px;
    right: 10px; }
  .result_date {
    color: #747474;
    text-align: center; }
    .result_date:first-of-type {
      margin-top: 40px; }
  .result .sticker {
    padding: 4px 4px 24px 4px; }

.match_winner_line {
  display: none;
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0; }

.result._w .match_winner_line {
  display: block;
  right: -12px;
  background: #ee9999; }

.result._l .match_winner_line {
  display: block;
  left: -12px;
  background: #8fc9f9; }

.match_data_time {
  position: absolute;
  right: 0;
  top: -15px;
  font-size: 10px;
  letter-spacing: 0.2px;
  color: #5f7c8a; }

.column_text {
  width: 200px;
  margin: 20px;
  text-align: center; }
  .column_text__image {
    width: 100px;
    margin: 10px 50px; }
  .column_text__title {
    margin: 10px 0;
    font-weight: bold; }
  .column_text__body {
    margin-bottom: 20px;
    line-height: 18px; }

.user_card__header {
  position: absolute;
  width: 560px;
  top: 10px;
  left: 50%;
  transform: translateX(-50%); }
.user_card__case {
  float: left;
  margin: 10px;
  padding: 10px;
  text-align: center; }
  .user_card__case__rectangle {
    width: 100px;
    height: 240px; }
  .user_card__case__quadrate {
    width: 100px;
    height: 100px; }
.user_card__emoji {
  width: 32px;
  height: 32px;
  margin: 4px 0 6px 0; }
.user_card__data {
  font-size: 22px;
  margin-top: 11px; }
.user_card__body {
  position: absolute;
  width: 540px;
  top: 300px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); }
  .user_card__body__column {
    float: left;
    width: 260px;
    height: 100%; }
    .user_card__body__column:first-of-type {
      margin-right: 20px; }
.user_card__user_name {
  margin-top: 13px; }
.user_card__user_city {
  margin-top: 4px; }
.user_card__user_rating {
  margin-top: 2px; }
  .user_card__user_rating__emoji {
    width: 20px;
    height: 20px;
    margin-top: 8px; }
.user_card__user_points {
  margin-top: 2px; }
  .user_card__user_points__emoji {
    width: 20px;
    height: 20px;
    margin-top: 8px; }

.container__stadium .opponent .user_image[src=""]:after {
  display: block;
  position: absolute;
  content: "";
  width: 105%;
  height: 105%;
  background: transparent;
  border-radius: 100%;
  opacity: 0.75;
  box-shadow: #fff -8px -9px 7px -7px;
  animation: searchOpponentAnimation 2s infinite linear; }
@keyframes searchOpponentAnimation {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(360deg); } }
.container__stadium .opponent .user_image[src=""] ~ .live_score {
  background: #ced7db; }
.container__stadium .opponent .user_image {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-170px, -305px); }
.container__stadium .opponent .user_name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-160px, -286px); }
.container__stadium .opponent .live_score {
  top: 50%;
  right: 50%;
  transform: translate(-10px, -300px);
  background: #63b4f5; }
.container__stadium .im .user_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(170px, -305px); }
.container__stadium .im .user_name {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(160px, -286px); }
.container__stadium .im .live_score {
  top: 50%;
  left: 50%;
  transform: translate(10px, -300px);
  background: #e47272; }

.arena {
  position: absolute;
  width: 796px;
  height: 460px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 60px;
  box-shadow: 0 0 60px #8fa3ad;
  background: #fff; }

.live_score {
  position: absolute;
  width: 50px;
  height: 40px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 42px;
  text-align: center;
  color: #fff; }

.live_round {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -248px); }
  .live_round .round {
    float: left;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    margin: 0 7px;
    box-shadow: 0 0 0 1px #fff;
    background: #fff; }
    .live_round .round.current {
      background: #80c683; }
    .live_round .round.completed {
      background: #ced7db; }
  .live_round:after {
    display: block;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4px 7px 4px 7px;
    border-radius: 2px;
    font-size: 11px;
    letter-spacing: 0.5px;
    white-space: nowrap;
    color: #f9f9f9; }
  .live_round.overtime:after {
    content: "Дополнительное время";
    background: #80c683; }
  .live_round.matchover:after {
    content: "Матч завершен";
    background: #8fa3ad; }

.resign {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer; }
  .resign__title {
    position: absolute;
    top: 50%;
    right: 140%;
    transform: translateY(-50%);
    visibility: hidden;
    font-size: 11px;
    color: #5f7c8a; }
  .resign__image {
    width: 25px;
    height: 25px; }
    .resign__image:hover ~ .resign__title {
      visibility: visible; }

.post_match {
  position: absolute;
  width: 560px;
  min-height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  text-align: center;
  background: #f9f9f9;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5); }
  .post_match__title {
    margin: 55px 0 10px 0; }
  .post_match__text {
    color: #36464e; }
    .post_match__text span {
      font-weight: bold; }
  .post_match .btn.disable ~ .post_match__subbtn {
    display: none; }
  .post_match__subbtn {
    display: block;
    margin: 20px 0;
    color: #1875d1;
    text-decoration: none; }
    .post_match__subbtn:hover {
      text-decoration: underline; }
  .post_match__timer {
    width: 70px;
    height: 70px;
    margin: 40px 0;
    border-radius: 35px;
    box-shadow: 0 0 0 1px #ced7db;
    color: #8fa3ad;
    transform: translateX(245px);
    line-height: 71px; }
  .post_match__stickers {
    top: 20px;
    bottom: 0;
    transform: translateX(-50%);
    border-radius: 6px 6px 0 0; }
    .post_match__stickers .column {
      width: 520px;
      margin: 0 20px; }
      .post_match__stickers .column__line {
        width: 100%; }
      .post_match__stickers .column__scrolling {
        width: 560px;
        height: 100%; }
      .post_match__stickers .column__content {
        width: 520px; }
    .post_match__stickers__hashtag {
      display: inline-block;
      font-size: 11px;
      margin: 7px 0 0 7px;
      padding: 2px 8px;
      border-radius: 3px;
      color: #2095f2;
      background: #e2f1fd;
      text-decoration: none; }
      .post_match__stickers__hashtag:hover {
        color: #fff;
        background: #2095f2; }
      .post_match__stickers__hashtag:before {
        content: "# ";
        font-size: 9px; }
    .post_match__stickers__title {
      width: 100%;
      margin: 17px 0 10px 0;
      padding: 6px 20px;
      text-align: left;
      background: #e47272;
      color: #fff; }
    .post_match__stickers__catalog div {
      position: relative;
      float: left;
      width: 92px;
      height: 92px;
      padding: 10px;
      margin: 9px;
      box-shadow: 0 0 0 1px #ebeef0;
      border-radius: 2px;
      cursor: pointer; }
      .post_match__stickers__catalog div:hover {
        background: #fff; }
    .post_match__stickers__catalog .sticker__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

.logo {
  position: absolute;
  top: 21px;
  left: 20px;
  z-index: 1; }
  .logo.white path {
    fill: #fff; }

.menu {
  position: absolute;
  width: 100%;
  top: 30px;
  letter-spacing: .6px;
  text-align: center; }
  .menu a {
    display: inline-block;
    margin: 0 11px 0 11px;
    padding: 6px 14px;
    border-radius: 2px;
    cursor: pointer;
    color: #5f7c8a;
    text-decoration: none;
    transition: box-shadow ease-in-out 250ms;
    box-shadow: 0 0 0 1px rgba(206, 215, 219, 0); }
  .menu a:hover {
    box-shadow: 0 0 0 1px #ced7db; }
  .menu a.attention_marker {
    animation: 3000ms toAttractAttentionMenuButton infinite forwards; }
@keyframes toAttractAttentionMenuButton {
  0% {
    background: rgba(255, 204, 209, 0); }
  50% {
    background: #ffccd1;
    box-shadow: 0 0 0 0 #ffccd1; }
  100% {
    background: rgba(255, 204, 209, 0);
    box-shadow: 0 0 0 15px rgba(255, 204, 209, 0); } }
#countdown circle {
  fill: #b29cda;
  stroke: #6639b6;
  stroke-width: 0;
  stroke-opacity: 0.25; }
#countdown.on circle:nth-child(1) {
  will-change: transform;
  animation: turnOnCounting1 3000ms forwards; }
#countdown.on circle:nth-child(2) {
  will-change: transform;
  animation: turnOnCounting2 3000ms forwards; }
#countdown.on circle:nth-child(3) {
  will-change: transform;
  animation: turnOnCounting3 3000ms forwards; }

@keyframes turnOnCounting1 {
  5% {
    transform: translateY(53px); }
  20% {
    fill: #b29cda;
    stroke-width: 0;
    stroke-opacity: 0.25; }
  23.3333% {
    fill: #6639b6; }
  40% {
    stroke-width: 40;
    stroke-opacity: 0; }
  90% {
    transform: translateY(53px); }
  100% {
    fill: #6639b6;
    stroke-opacity: 0; } }
@keyframes turnOnCounting2 {
  10% {
    transform: translateY(53px); }
  45% {
    fill: #b29cda;
    stroke-width: 0;
    stroke-opacity: 0.25; }
  48.3333% {
    fill: #6639b6; }
  65% {
    stroke-width: 40;
    stroke-opacity: 0; }
  90% {
    transform: translateY(53px); }
  100% {
    fill: #6639b6;
    stroke-opacity: 0; } }
@keyframes turnOnCounting3 {
  15% {
    transform: translateY(53px); }
  68% {
    fill: #b29cda;
    stroke-width: 0;
    stroke-opacity: 0.25; }
  71.3333% {
    fill: #6639b6; }
  88% {
    stroke-width: 40;
    stroke-opacity: 0; }
  90% {
    transform: translateY(53px); }
  100% {
    fill: #6639b6;
    stroke-opacity: 0; } }
#timer line:nth-child(1) {
  stroke: #ced7db;
  stroke-width: 2; }
#timer line:nth-child(2) {
  stroke: #ced7db;
  stroke-width: 2; }
#timer line:nth-child(3) {
  stroke: #ced7db;
  stroke-width: 10; }
#timer.on line:nth-child(2) {
  stroke: #BE202E; }
#timer.on line:nth-child(3) {
  stroke: #BE202E; }

#layout {
  stroke-width: 1;
  fill: none; }
  #layout [id*="Your"] {
    stroke: #BE202E; }
    #layout [id*="Your"].off {
      display: none; }
  #layout line[id*="Your"].on,
  #layout circle[id*="Your"].on {
    stroke-width: 4; }
  #layout [id*="Enemy"] {
    stroke: #1D76BB; }
    #layout [id*="Enemy"].off {
      display: none; }
  #layout path {
    display: none;
    /* Прерывистая линия перевода
    		&.visibleMiddle {
    			display: block;
    			opacity: .7;
    			stroke-dasharray: 7;
    		}
    */ }
    #layout path.on {
      display: block; }

#gimmicksPanel {
  display: none;
  fill: #BE202E; }
  #gimmicksPanel g use:nth-of-type(even) {
    fill-opacity: 0;
    stroke-dasharray: 1, 3;
    stroke: #BE202E; }
  #gimmicksPanel.sleep {
    display: block; }
    #gimmicksPanel.sleep g use {
      opacity: .25;
      cursor: default; }
  #gimmicksPanel.on {
    display: block; }
    #gimmicksPanel.on g use:nth-of-type(even) {
      opacity: .6;
      cursor: pointer; }
      #gimmicksPanel.on g use:nth-of-type(even):hover {
        opacity: 1;
        stroke-width: 2; }
    #gimmicksPanel.on g use:nth-of-type(odd) {
      opacity: .6; }
    #gimmicksPanel.on g use:nth-of-type(odd).on {
      opacity: 1; }
  #gimmicksPanel g.used use {
    fill: #ccc; }
  #gimmicksPanel g.used use:nth-of-type(even) {
    stroke: #ccc;
    cursor: default; }
    #gimmicksPanel g.used use:nth-of-type(even):hover {
      opacity: .6;
      stroke-width: 1; }
  #gimmicksPanel text {
    opacity: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-anchor: middle; }
  #gimmicksPanel g:hover text {
    opacity: .4; }
  #gimmicksPanel g.used text {
    fill: #ccc;
    opacity: .5; }

.gimmicksLayout use {
  display: none; }
  .gimmicksLayout use.on {
    display: block;
    opacity: 1; }
  .gimmicksLayout use.visibleMiddle {
    display: block;
    opacity: .25; }
.gimmicksLayout [id*="Your"] {
  fill: #BE202E; }
.gimmicksLayout [id*="Enemy"] {
  fill: #1D76BB; }
.gimmicksLayout [id*="second"] {
  fill: #fff; }

#gimmicksPositionsAndActivationZones rect {
  display: none;
  cursor: pointer;
  fill-opacity: 0; }
#gimmicksPositionsAndActivationZones rect.on {
  display: block; }

#rocks {
  display: none; }
  #rocks.on {
    display: block; }
  #rocks circle {
    display: none; }
    #rocks circle.on {
      display: block; }
  #rocks [id*="Enemy"] {
    fill: #1D76BB; }
  #rocks [id*="Your"] {
    fill: #BE202E;
    /*
    		~ g[id$="Rock"] circle {
    			display: none;
    		}
    		&.on ~ g[id$="Rock"] circle {
    			display: block;
    		}
    */ }
  #rocks [class*="arrow"] {
    display: none;
    fill: #fff; }
  #rocks [id*="activation"] {
    display: none;
    fill-opacity: 0; }
    #rocks [id*="activation"].on {
      display: block;
      cursor: pointer; }
  #rocks g circle {
    fill: #BE202E;
    opacity: .25; }
    #rocks g circle.top {
      will-change: transform;
      animation: rockMoveTop 1000ms infinite; }
  #rocks #firstRock circle.top ~ .arrowTop {
    display: block; }
  #rocks #firstRock circle.left {
    will-change: transform;
    animation: rockMoveLeft 1000ms infinite; }
    #rocks #firstRock circle.left ~ .arrowLeft {
      display: block; }
  #rocks #firstRock circle.right {
    will-change: transform;
    animation: rockMoveRight 1000ms infinite; }
    #rocks #firstRock circle.right ~ .arrowRight {
      display: block; }
  #rocks #secondRock circle.top ~ .arrowTop {
    display: block; }
  #rocks #secondRock circle.left {
    will-change: transform;
    animation: rockMoveLeft 1000ms infinite; }
    #rocks #secondRock circle.left ~ .arrowLeft {
      display: block; }
  #rocks #secondRock circle.right {
    will-change: transform;
    animation: rockMoveRight 1000ms infinite; }
    #rocks #secondRock circle.right ~ .arrowRight {
      display: block; }
  #rocks #thirdRock circle.top ~ .arrowTop {
    display: block; }
  #rocks #thirdRock circle.left {
    will-change: transform;
    animation: rockMoveLeft 1000ms infinite; }
    #rocks #thirdRock circle.left ~ .arrowLeft {
      display: block; }
  #rocks #thirdRock circle.right {
    will-change: transform;
    animation: rockMoveRight 1000ms infinite; }
    #rocks #thirdRock circle.right ~ .arrowRight {
      display: block; }
  #rocks #fourthRock circle.top ~ .arrowTop {
    display: block; }
  #rocks #fourthRock circle.left {
    will-change: transform;
    animation: rockMoveLeft 1000ms infinite; }
    #rocks #fourthRock circle.left ~ .arrowLeft {
      display: block; }

@keyframes rockMoveTop {
  80% {
    opacity: .25; }
  100% {
    transform: translateY(-135px);
    opacity: 0; } }
@keyframes rockMoveLeft {
  80% {
    opacity: .25; }
  100% {
    transform: translateX(-85px);
    opacity: 0; } }
@keyframes rockMoveRight {
  80% {
    opacity: .25; }
  100% {
    transform: translateX(85px);
    opacity: 0; } }
/*
#arena {
	&.rocksActivated {
		.rocks {
			[id*="rock"] {
				opacity: 1;
			}
		}
	}
	&.rocksActivatedYour {
		.rocks {
			[id*="rockYour"] {
				opacity: 1;
			}
		}
	}
	&.rocksActivatedYour0 {
		.rocks {
			#rockYour0 {
				opacity: 1;
			}
		}
	}
	&.rocksActivatedYour1 {
		.rocks {
			#rockYour1 {
				opacity: 1;
			}
		}
	}
	&.rocksActivatedYour2 {
		.rocks {
			#rockYour2 {
				opacity: 1;
			}
		}
	}
	&.rocksActivatedYour3 {
		.rocks {
			#rockYour3 {
				opacity: 1;
			}
		}
	}
	&.rocksActivatedEnemy {
		.rocks {
			[id*="rockEnemy"] {
				opacity: 1;
			}
		}
	}
	&.rocksActivatedEnemy0 {
		.rocks {
			#rockEnemy0 {
				opacity: 1;
			}
		}
	}
	&.rocksActivatedEnemy1 {
		.rocks {
			#rockEnemy1 {
				opacity: 1;
			}
		}
	}
	&.rocksActivatedEnemy2 {
		.rocks {
			#rockEnemy2 {
				opacity: 1;
			}
		}
	}
	&.rocksActivatedEnemy3 {
		.rocks {
			#rockEnemy3 {
				opacity: 1;
			}
		}
	}
}
*/
.my_card {
  position: absolute;
  left: 50%;
  transform: translate(173px, 76px);
  background: #fffce6; }

.btn {
  display: inline-block;
  padding: 6px 14px 4px 14px;
  border-radius: 4px;
  letter-spacing: 0.6px;
  cursor: pointer;
  text-align: center; }
  .btn_danger {
    background: #f34235;
    color: #fff; }
    .btn_danger:hover {
      background: #d22e2e;
      box-shadow: 0 0 0 3px #ffccd1; }
    .btn_danger.disable {
      background: #ffccd1;
      box-shadow: none;
      cursor: default; }
    .btn_danger.attention_marker {
      animation: 2000ms toAttractAttentionBtnDanger infinite forwards; }
@keyframes toAttractAttentionBtnDanger {
  0% {
    box-shadow: 0 0 0 0 #ffccd1; }
  100% {
    box-shadow: 0 0 0 15px rgba(255, 204, 209, 0); } }
    .btn_danger[class*="large"].attention_marker {
      animation: 2000ms toAttractAttentionBtnDangerLarge infinite forwards; }
@keyframes toAttractAttentionBtnDangerLarge {
  0% {
    box-shadow: 0 0 0 0 #ffccd1; }
  100% {
    box-shadow: 0 0 0 35px rgba(255, 204, 209, 0); } }
  .btn_success {
    background: #4bae4f;
    color: #fff; }
    .btn_success:hover {
      background: #378d3b;
      box-shadow: 0 0 0 3px #c7e5c8; }
    .btn_success.disable {
      background: #c7e5c8;
      box-shadow: none;
      cursor: default; }
    .btn_success.attention_marker {
      animation: 2000ms toAttractAttentionBtnSuccess infinite forwards; }
@keyframes toAttractAttentionBtnSuccess {
  0% {
    box-shadow: 0 0 0 0 #c7e5c8; }
  100% {
    box-shadow: 0 0 0 15px rgba(199, 229, 200, 0); } }
    .btn_success[class*="large"].attention_marker {
      animation: 2000ms toAttractAttentionBtnSuccessLarge infinite forwards; }
@keyframes toAttractAttentionBtnSuccessLarge {
  0% {
    box-shadow: 0 0 0 0 #c7e5c8; }
  100% {
    box-shadow: 0 0 0 35px rgba(199, 229, 200, 0); } }
  .btn_primary {
    background: #2095f2;
    color: #fff; }
    .btn_primary:hover {
      background: #1875d1;
      box-shadow: 0 0 0 3px #baddfb; }
    .btn_primary.disable {
      background: #baddfb;
      box-shadow: none;
      cursor: default; }
    .btn_primary.attention_marker {
      animation: 2000ms toAttractAttentionBtnPrimary infinite forwards; }
@keyframes toAttractAttentionBtnPrimary {
  0% {
    box-shadow: 0 0 0 0 #baddfb; }
  100% {
    box-shadow: 0 0 0 15px rgba(186, 221, 251, 0); } }
    .btn_primary[class*="large"].attention_marker {
      animation: 2000ms toAttractAttentionBtnPrimaryLarge infinite forwards; }
@keyframes toAttractAttentionBtnPrimaryLarge {
  0% {
    box-shadow: 0 0 0 0 #baddfb; }
  100% {
    box-shadow: 0 0 0 35px rgba(186, 221, 251, 0); } }
  .btn__large {
    padding: 18px 28px 14px 28px;
    border-radius: 6px;
    font-size: 16px;
    letter-spacing: 1px; }
  .btn__start {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 106px); }

.cancel {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 80px;
  height: 80px;
  border-radius: 7px;
  cursor: pointer;
  z-index: 1;
  background: #fff; }
  .cancel:after, .cancel:before {
    display: block;
    position: absolute;
    content: "";
    width: 56px;
    height: 3px;
    top: 50%;
    left: 50%;
    background: #8fa3ad; }
  .cancel:after {
    transform: translate(-50%, -50%) rotate(45deg); }
  .cancel:before {
    transform: translate(-50%, -50%) rotate(-45deg); }

.msg_lt {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 380px;
  height: 80px;
  border-radius: 7px;
  box-shadow: 0 0 0 1px #dfdfdf, inset 0 0 10px #ededed, 0 4px 5px #bcbcbc;
  overflow: hidden;
  background: linear-gradient(to bottom, #fff, #f9f9f9);
  color: #778f9b;
  transform: translateX(150%);
  animation: 1000ms msg_lt_Action 1000ms ease-in-out forwards; }
@keyframes msg_lt_Action {
  100% {
    transform: translateX(0); } }
  .msg_lt .cancel {
    top: 0;
    right: 0;
    border-radius: 0;
    border-left: solid 1px #dfdfdf;
    background: transparent; }

.msg_content {
  position: absolute;
  top: 0;
  right: 80px;
  bottom: 0;
  left: 0;
  padding: 12px;
  text-align: center; }
  .msg_content .btn {
    margin-top: 6px; }

[data-score-difference] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 265px);
  transition: linear 500ms;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 4px;
  color: #e47272; }

[data-score-difference="0"] {
  color: #ced7db; }

[data-score-difference^="-"] {
  color: #63b4f5; }

[data-score-difference="-1"] {
  transform: translate(-50%, 265px) perspective(777px) rotateX(-360deg) rotateY(-330deg); }

[data-score-difference="-2"] {
  transform: translate(-50%, 265px) perspective(677px) rotateX(-360deg) rotateY(-325deg); }

[data-score-difference="-3"] {
  transform: translate(-50%, 265px) perspective(677px) rotateX(-360deg) rotateY(-320deg); }

[data-score-difference="-4"] {
  transform: translate(-50%, 265px) perspective(677px) rotateX(-360deg) rotateY(-315deg); }

[data-score-difference="-5"] {
  transform: translate(-50%, 265px) perspective(677px) rotateX(-360deg) rotateY(-310deg); }

[data-score-difference="-6"] {
  transform: translate(-50%, 265px) perspective(677px) rotateX(-360deg) rotateY(-305deg); }

[data-score-difference="-7"] {
  transform: translate(-50%, 265px) perspective(677px) rotateX(-360deg) rotateY(-300deg); }

[data-score-difference="1"] {
  transform: translate(-50%, 265px) perspective(777px) rotateX(-360deg) rotateY(330deg); }

[data-score-difference="2"] {
  transform: translate(-50%, 265px) perspective(677px) rotateX(-360deg) rotateY(325deg); }

[data-score-difference="3"] {
  transform: translate(-50%, 265px) perspective(677px) rotateX(-360deg) rotateY(320deg); }

[data-score-difference="4"] {
  transform: translate(-50%, 265px) perspective(677px) rotateX(-360deg) rotateY(315deg); }

[data-score-difference="5"] {
  transform: translate(-50%, 265px) perspective(677px) rotateX(-360deg) rotateY(310deg); }

[data-score-difference="6"] {
  transform: translate(-50%, 265px) perspective(677px) rotateX(-360deg) rotateY(305deg); }

[data-score-difference="7"] {
  transform: translate(-50%, 265px) perspective(677px) rotateX(-360deg) rotateY(300deg); }

[data-points-emerging^="+"]:after {
  position: absolute;
  content: attr(data-points-emerging);
  opacity: 0;
  color: #ffaa90;
  animation: userPointsAnimationPlus ease-in-out 1500ms; }
@keyframes userPointsAnimationPlus {
  25% {
    opacity: 1; }
  100% {
    transform: translateX(30px) scale(3);
    opacity: 0; } }
[data-rating-emering^="+"]:after {
  color: #4bae4f; }

[data-rating-emering^="-"]:after {
  color: #9d9d9d; }

[data-rating-emering^="+"]:after,
[data-rating-emering^="-"]:after {
  position: absolute;
  content: attr(data-rating-emering);
  transform: translateX(20px);
  opacity: 0;
  animation: userRatingAnimation ease-in-out 3500ms 500ms; }
@keyframes userRatingAnimation {
  50% {
    opacity: 1; }
  75% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.achievement_box {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 20px 0;
  text-align: center; }
  .achievement_box img {
    display: inline-block; }
  .achievement_box .mult {
    position: absolute;
    top: 60px;
    right: 50%;
    transform: translateX(80px);
    font-size: 14px;
    color: #747474; }
  .achievement_box .subtitle {
    text-align: center;
    color: #9d9d9d;
    font-size: 11px;
    letter-spacing: .2px; }

.container__intro {
  box-shadow: none;
  background: linear-gradient(to right, #63b4f5, #e47272);
  z-index: 10; }

.intro_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.intro_spinner {
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-50%); }

.container__tutorial {
  background: #445963;
  box-shadow: none;
  overflow: hidden; }
  .container__tutorial .arena {
    box-shadow: none; }
  .container__tutorial.end {
    animation: 1000ms tutorialEnd linear 1500ms forwards; }
@keyframes tutorialEnd {
  to {
    opacity: 0; } }
.tutorial__title {
  position: absolute;
  top: 118px;
  right: -10px;
  font-size: 9px;
  color: #fff;
  z-index: 1; }
  .tutorial__title_ribbon {
    width: 170px;
    height: 25px;
    background: #ffb200;
    transform: skew(25deg); }
  .tutorial__title_text {
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap; }

.arena ~ .cancel {
  background: none; }

.container__microgame {
  box-shadow: none;
  background: rgba(0, 0, 0, 0.75); }

.microgame_logo {
  position: absolute;
  width: 110px;
  height: 50px;
  top: 16px;
  left: 110px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='110' height='50'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='-10.27%25' x2='637.04%25' y1='50%25' y2='50%25'%3E%3Cstop offset='0%25' stop-color='%23F44336'/%3E%3Cstop offset='100%25' stop-color='%232196F3'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='-107.61%25' x2='721.56%25' y1='50.01%25' y2='50.01%25'%3E%3Cstop offset='0%25' stop-color='%23F44336'/%3E%3Cstop offset='100%25' stop-color='%232196F3'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' x1='-126.04%25' x2='362.71%25' y1='50%25' y2='50%25'%3E%3Cstop offset='0%25' stop-color='%23F44336'/%3E%3Cstop offset='100%25' stop-color='%232196F3'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' x1='-306.52%25' x2='403.4%25' y1='50%25' y2='50%25'%3E%3Cstop offset='0%25' stop-color='%23F44336'/%3E%3Cstop offset='100%25' stop-color='%232196F3'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' x1='-351.17%25' x2='303.51%25' y1='50.01%25' y2='50.01%25'%3E%3Cstop offset='0%25' stop-color='%23F44336'/%3E%3Cstop offset='100%25' stop-color='%232196F3'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' x1='-413.21%25' x2='214.09%25' y1='50%25' y2='50%25'%3E%3Cstop offset='0%25' stop-color='%23F44336'/%3E%3Cstop offset='100%25' stop-color='%232196F3'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' x1='-601.88%25' x2='148.15%25' y1='50%25' y2='50%25'%3E%3Cstop offset='0%25' stop-color='%23F44336'/%3E%3Cstop offset='100%25' stop-color='%232196F3'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' x1='-730.86%25' x2='97.18%25' y1='50%25' y2='50%25'%3E%3Cstop offset='0%25' stop-color='%23F44336'/%3E%3Cstop offset='100%25' stop-color='%232196F3'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='none'%3E%3Cpath fill='url%28%23a%29' d='M9.22 26.91H5.8L.02 5.41h10.76l5.81 21.5h-3.48L8.14 8.48H4.25z' transform='translate%282 4%29'/%3E%3Cpath fill='url%28%23b%29' d='M25.15 21.45c.06.96.04 1.8-.07 2.53a3.5 3.5 0 0 1-.73 1.78c-.38.46-.94.8-1.7 1-.74.2-1.71.27-2.91.18l-.81-3a4.1 4.1 0 0 0 1.99-.25c.43-.23.62-.73.56-1.5l-.03-.2-9.2-16.58h3.35l3.86 7.34 2.42 5.04-.53-5-.46-7.38h3.57l.69 16.03z' transform='translate%282 4%29'/%3E%3Cpath fill='url%28%23c%29' d='M31.77 26.91l-5.78-21.5h3.39l4.97 18.43h2.96L32.33 5.41h3.42l4.98 18.43h2.95L38.71 5.41h3.42l5.81 21.5z' transform='translate%282 4%29'/%3E%3Cpath fill='url%28%23d%29' d='M50.49 14.47h4.7l.84 3.08h-4.7l1.68 6.29h5.91l.84 3.07h-9.33l-5.79-21.5h9.3l.84 3.07h-5.91l1.62 5.99z' transform='translate%282 4%29'/%3E%3Cpath fill='url%28%23e%29' d='M66.45 5.44l5.81 21.48h-3.42l-2.33-8.66c-.28.41-.68.73-1.15.9a4 4 0 0 1-1.46.29c-1.41 0-2.6-.45-3.55-1.35a7.61 7.61 0 0 1-2.05-3.56l-2.43-9.1h3.4l2.39 8.82a2.7 2.7 0 0 0 1 1.6c.45.33.99.51 1.55.52.54 0 .91-.2 1.13-.57.22-.38.23-.93.05-1.65l-2.37-8.72h3.43z' transform='translate%282 4%29'/%3E%3Cpath fill='url%28%23f%29' d='M76.96 18.34l-.53 1.97 1.77 6.6h-3.42L69 5.41h3.39l2.51 9.37 1.96-9.37h3.43L78.11 15l7.99 11.91h-3.51l-5.63-8.57z' transform='translate%282 4%29'/%3E%3Cpath fill='url%28%23g%29' d='M98.73 26.91h-3.45l-1.65-3.9h-4.2l.47 3.9h-3.15l-2.33-21.5h5l9.3 21.5zm-9.64-6.82h3.3L87.77 9.22l1.3 10.87z' transform='translate%282 4%29'/%3E%3Cpath fill='url%28%23h%29' d='M103.82 5.32a4.47 4.47 0 0 0-3.33-3.19V.06h-2v2.07a4.47 4.47 0 0 0-3.33 3.2h-2.14v1.96h2.07a4.46 4.46 0 0 0 3.4 3.47v2.1h2v-2.1a4.47 4.47 0 0 0 3.4-3.47h2.1V5.32h-2.16zM99.5 8.91a2.46 2.46 0 1 1 0-4.92 2.48 2.48 0 0 1 2.36 2.46 2.5 2.5 0 0 1-2.36 2.46z' transform='translate%282 4%29'/%3E%3Cpath fill='%23F7931E' d='M55.32 44.3l-.74-6.2h1.94l2.36 8.74h-1.31l-1.7-6.27.74 6.27h-1.32l-2.7-6.18 1.67 6.18h-1.22L50.7 38.1h1.92l2.7 6.2zm6.95 2.54h-1.43L58.5 38.1h1.23l1.49 5.53-.01-1.92.16-3.61h1.53l2.37 8.74H64l-1.67-6.16.02 2.15-.08 4zm5.8-3.48l-.21.8.72 2.68h-1.4l-2.34-8.74h1.37l1.03 3.8.8-3.8h1.39l-.89 3.9 3.25 4.84h-1.43l-2.29-3.48zm4.48-5.26c.7 0 1.27.18 1.7.55.44.36.76.9.95 1.61l.3 1.13c.2.71.18 1.25-.06 1.62-.24.36-.71.54-1.41.54h-.66l.89 3.29h-1.4l-2.35-8.74h2.04zm-.32 1.25l.8 2.96h.66c.22 0 .37-.06.46-.18.09-.12.09-.33 0-.65l-.36-1.3c-.08-.32-.2-.54-.35-.66a.86.86 0 0 0-.55-.17h-.66zm4.45.85c-.2-.71-.16-1.25.1-1.63.25-.38.72-.57 1.4-.57.7 0 1.26.19 1.73.57.46.38.79.92.98 1.63l1.23 4.54c.2.7.16 1.25-.1 1.63-.26.38-.74.57-1.42.57a2.7 2.7 0 0 1-1.72-.57 3 3 0 0 1-.98-1.63l-1.22-4.54zm2.63 4.63c.1.31.22.54.39.66.16.14.35.2.57.2.22 0 .38-.06.48-.2.1-.12.1-.35 0-.66l-1.27-4.72c-.06-.26-.2-.49-.39-.67a.9.9 0 0 0-.57-.2c-.22 0-.38.07-.48.2-.1.13-.1.35 0 .67l1.27 4.72zm6.65 2h-1.43l-2.35-8.73h1.23l1.49 5.53-.01-1.92.16-3.61h1.53l2.37 8.74h-1.26l-1.66-6.16v2.15l-.07 4zm4.93 0l-2.35-8.73h3.66l.34 1.25h-2.28l2.02 7.49H90.9zm4.73-8.73c.7 0 1.27.18 1.7.55.45.36.76.9.96 1.61l.3 1.13c.2.71.17 1.25-.07 1.62-.24.36-.71.54-1.41.54h-.66l.89 3.29h-1.4L93.6 38.1h2.03zm-.32 1.25l.8 2.96h.65c.22 0 .38-.06.47-.18.09-.12.08-.33 0-.65l-.36-1.3c-.09-.32-.2-.54-.35-.66a.86.86 0 0 0-.55-.17h-.66zm10.1 7.49H104l-.68-1.59h-1.7l.18 1.59h-1.27l-.95-8.74h2.03l3.78 8.74zm-3.93-2.77h1.34l-1.87-4.42.53 4.42z'/%3E%3C/g%3E%3C/svg%3E"); }

.microgame_score {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
  color: #fff; }

.microgame_rating {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%); }
  .microgame_rating div {
    text-align: right;
    margin: 8px 0; }
    .microgame_rating div:nth-of-type(1) {
      color: #ced7db; }
    .microgame_rating div span {
      font-size: 11px;
      color: #afbdc4;
      line-height: 30px;
      margin-right: 6px; }
    .microgame_rating div img {
      float: right; }

.microgame_rating_pilgrim {
  left: 20px; }
  .microgame_rating_pilgrim div {
    text-align: left; }
    .microgame_rating_pilgrim div span {
      margin-left: 6px; }
    .microgame_rating_pilgrim div img {
      float: left; }

.microgame_case {
  position: absolute;
  width: 100%;
  height: 100%; }

.microgame_session {
  position: absolute;
  top: 64px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: #ffa625; }

.auto_answer {
  position: absolute;
  width: 80px;
  height: 14px;
  left: 50%;
  transform: translate(-50%, 175px); }
  .auto_answer.on .auto_answer__switch {
    background: #80c683;
    will-change: transform;
    transform: translateX(100%); }
    .auto_answer.on .auto_answer__switch:before {
      width: 0;
      height: 0;
      background: none;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-left: 7px solid #429f46;
      transform: translate(-4px, 1px);
      box-shadow: none; }
    .auto_answer.on .auto_answer__switch:after {
      opacity: 0; }
  .auto_answer__title {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 11px;
    color: #5f7c8a;
    letter-spacing: .5px; }
  .auto_answer__case {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    border-radius: 3px;
    background: #ebeef0;
    box-shadow: inset 0 0 1px 1px #dfdfdf;
    cursor: pointer; }
  .auto_answer__switch {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ced7db;
    transition: ease-in-out 300ms; }
    .auto_answer__switch:before, .auto_answer__switch:after {
      display: block;
      position: absolute;
      content: '';
      width: 1px;
      height: 10px;
      top: 2px;
      left: 50%;
      background: #afbdc4;
      box-shadow: -1px 0 1px 0 #f4f4f4; }
    .auto_answer__switch:before {
      transform: translateX(-2px); }
    .auto_answer__switch:after {
      transform: translateX(2px); }

.side_control_panel {
  position: absolute;
  right: 20px;
  cursor: pointer; }
  .side_control_panel div:nth-child(1) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 50px;
    border-radius: 3px;
    background: #ebeef0;
    z-index: -5;
    cursor: default; }
  .side_control_panel__resign {
    top: 20px; }
  .side_control_panel__sound {
    bottom: 20px;
    z-index: 1; }
  .side_control_panel__full_screen {
    bottom: 65px;
    z-index: 1; }
    .side_control_panel__full_screen.attention_marker:before, .side_control_panel__full_screen.attention_marker:after {
      display: block;
      position: absolute;
      content: '';
      top: 40%;
      left: 50%;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #ffeaed;
      border: 1px solid #e47272;
      transform: translate(-50%, -50%) scale(0);
      z-index: -1; }
    .side_control_panel__full_screen.attention_marker:before {
      animation: 3000ms toAttractAttentionFullScreen infinite; }
    .side_control_panel__full_screen.attention_marker:after {
      animation: 3000ms toAttractAttentionFullScreen 2000ms infinite; }
@keyframes toAttractAttentionFullScreen {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1; }
  100% {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0; } }
  .side_control_panel__keyboard {
    bottom: 110px; }
  .side_control_panel__title {
    position: absolute;
    top: 0;
    right: 140%;
    visibility: hidden;
    font-size: 11px;
    color: #5f7c8a;
    background: #ebeef0;
    padding: 5px 8px 4px 8px;
    border-radius: 2px;
    white-space: nowrap;
    box-shadow: 0 0 0 1px #ced7db;
    opacity: 0; }
  .side_control_panel__image {
    width: 20px;
    height: 20px; }
    .side_control_panel__image:hover ~ .side_control_panel__title {
      visibility: visible;
      transition: opacity ease-in-out 300ms;
      opacity: 1; }

.playtime {
  position: absolute;
  top: 54px;
  left: 55px;
  z-index: 1; }
  .playtime__timer {
    font-size: 15px;
    font-family: 'PT Mono', monospace;
    color: #ffb200;
    white-space: nowrap;
    letter-spacing: 1.1px; }
  .playtime__title {
    font-size: 10px;
    text-align: center;
    white-space: nowrap;
    color: #ffb200;
    letter-spacing: .6px; }

.online_users {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 10px;
  color: #8fa3ad;
  z-index: 2; }
  .online_users:before {
    content: 'ONLINE: ';
    font-size: 8px; }

/*# sourceMappingURL=main.css.map */
