<div class="tutorial__title">
    <div class="tutorial__title_ribbon"></div>
    <span class="tutorial__title_text">ОБУЧЕНИЕ ЗА 20 СЕКУНД</span>
</div>
<div class="arena">
    <svg xmlns="http://www.w3.org/2000/svg" width="796" viewBox="0 0 796 460" preserveAspectRatio="none">

        <rect width="796" height="460" rx="60" fill="#f9f9f9"/>

        <g id="layout">
            <line id="defenceLineEnemy6" x1="108" x2="184" y1="94" y2="94"/>
            <line id="defenceLineEnemy5" x1="192" x2="268" y1="94" y2="94"/>
            <line id="defenceLineEnemy4" x1="276" x2="352" y1="94" y2="94"/>
            <line id="defenceLineEnemy3" x1="360" x2="436" y1="94" y2="94"/>
            <line id="defenceLineEnemy2" x1="444" x2="520" y1="94" y2="94"/>
            <line id="defenceLineEnemy1" x1="528" x2="604" y1="94" y2="94"/>
            <line id="defenceLineEnemy0" x1="612" x2="688" y1="94" y2="94"/>

            <line id="attackFirstLineEnemy3" x1="104" x2="104" y1="98" y2="226"/>
            <line id="attackFirstLineEnemy2" x1="272" x2="272" y1="98" y2="226"/>
            <line id="attackFirstLineEnemy1" x1="440" x2="440" y1="98" y2="226"/>
            <line id="attackFirstLineEnemy0" x1="608" x2="608" y1="98" y2="226"/>

            <line id="attackSecondLineEnemy3" x1="104" x2="104" y1="234" y2="314"/>
            <line id="attackSecondLineEnemy2" x1="272" x2="272" y1="234" y2="314"/>
            <line id="attackSecondLineEnemy1" x1="440" x2="440" y1="234" y2="314"/>
            <line id="attackSecondLineEnemy0" x1="608" x2="608" y1="234" y2="314"/>

            <path id="switchLineToRightEnemy2" d="M104,234c0,68,105.308,100,148,100"/>
            <path id="switchLineToRightEnemy1" d="M271.92,234c0,68,105.308,100,148,100"/>
            <path id="switchLineToRightEnemy0" d="M440,234c0,68,105.309,100,148,100"/>

            <path id="switchLineToLeftEnemy2" d="M271.92,234c0,68-105.309,100-148,100"/>
            <path id="switchLineToLeftEnemy1" d="M440,234c0,68-105.309,100-148,100"/>
            <path id="switchLineToLeftEnemy0" d="M608,234c0,68-105.309,100-148,100"/>

            <line id="defenceLineYour0" x1="108" x2="184" y1="366" y2="366"/>
            <line id="defenceLineYour1" x1="192" x2="268" y1="366" y2="366"/>
            <line id="defenceLineYour2" x1="276" x2="352" y1="366" y2="366"/>
            <line id="defenceLineYour3" x1="360" x2="436" y1="366" y2="366"/>
            <line id="defenceLineYour4" x1="444" x2="520" y1="366" y2="366"/>
            <line id="defenceLineYour5" x1="528" x2="604" y1="366" y2="366"/>
            <line id="defenceLineYour6" x1="612" x2="688" y1="366" y2="366"/>

            <line id="attackSecondLineYour0" x1="188" x2="188" y1="146" y2="226"/>
            <line id="attackSecondLineYour1" x1="356" x2="356" y1="146" y2="226"/>
            <line id="attackSecondLineYour2" x1="524" x2="524" y1="146" y2="226"/>
            <line id="attackSecondLineYour3" x1="692" x2="692" y1="146" y2="226"/>

            <line id="attackFirstLineYour0" x1="188" x2="188" y1="234" y2="362"/>
            <line id="attackFirstLineYour1" x1="356" x2="356" y1="234" y2="362"/>
            <line id="attackFirstLineYour2" x1="524" x2="524" y1="234" y2="362"/>
            <line id="attackFirstLineYour3" x1="692" x2="692" y1="234" y2="362"/>

            <path id="switchLineToLeftYour0" d="M188,226c0-68,105.309-100,148-100"/>
            <path id="switchLineToLeftYour1" d="M356,226c0-68,105.309-100,148-100"/>
            <path id="switchLineToLeftYour2" d="M524,226c0-68,105.309-100,148-100"/>

            <path id="switchLineToRightYour0" d="M356,226c0-68-105.309-100-148-100"/>
            <path id="switchLineToRightYour1" d="M524,226c0-68-105.309-100-148-100"/>
            <path id="switchLineToRightYour2" d="M692,226c0-68-105.309-100-148-100"/>

            <circle id="startEnemy3" r="4" cx="104" cy="94"/>
            <circle id="startEnemy2" r="4" cx="272" cy="94"/>
            <circle id="startEnemy1" r="4" cx="440" cy="94"/>
            <circle id="startEnemy0" r="4" cx="608" cy="94"/>

            <circle id="defenceEnemy3" r="4" cx="188" cy="94"/>
            <circle id="defenceEnemy2" r="4" cx="356" cy="94"/>
            <circle id="defenceEnemy1" r="4" cx="524" cy="94"/>
            <circle id="defenceEnemy0" r="4" cx="692" cy="94"/>

            <circle id="attackEnemy3" r="4" cx="104" cy="230"/>
            <circle id="attackEnemy2" r="4" cx="272" cy="230"/>
            <circle id="attackEnemy1" r="4" cx="440" cy="230"/>
            <circle id="attackEnemy0" r="4" cx="608" cy="230"/>

            <circle id="holeEnemy3" r="20" cx="104" cy="334"/>
            <circle id="holeEnemy2" r="20" cx="272" cy="334"/>
            <circle id="holeEnemy1" r="20" cx="440" cy="334"/>
            <circle id="holeEnemy0" r="20" cx="608" cy="334"/>

            <circle id="startYour0" r="4" cx="188" cy="366"/>
            <circle id="startYour1" r="4" cx="356" cy="366"/>
            <circle id="startYour2" r="4" cx="524" cy="366"/>
            <circle id="startYour3" r="4" cx="692" cy="366"/>

            <circle id="defenceYour0" r="4" cx="104" cy="366"/>
            <circle id="defenceYour1" r="4" cx="272" cy="366"/>
            <circle id="defenceYour2" r="4" cx="440" cy="366"/>
            <circle id="defenceYour3" r="4" cx="608" cy="366"/>

            <circle id="attackYour0" r="4" cx="188" cy="230"/>
            <circle id="attackYour1" r="4" cx="356" cy="230"/>
            <circle id="attackYour2" r="4" cx="524" cy="230"/>
            <circle id="attackYour3" r="4" cx="692" cy="230"/>

            <circle id="holeYour0" r="20" cx="188" cy="126"/>
            <circle id="holeYour1" r="20" cx="356" cy="126"/>
            <circle id="holeYour2" r="20" cx="524" cy="126"/>
            <circle id="holeYour3" r="20" cx="692" cy="126"/>
        </g>

        <symbol>
            <path id="frameS" d="M36,24c0,6.627-5.373,12-12,12h-48c-6.627,0-12-5.373-12-12v-48c0-6.627,5.373-12,12-12h48c6.627,0,12,5.373,12,12V24z"/>
            <path id="cannonS" d="M6.668-1.779C6.016-4.256,4.027-6.192,1.521-6.765V-10h-3.078v3.234c-2.509,0.572-4.498,2.51-5.148,4.986H-10v3.077h3.189c0.521,2.687,2.6,4.82,5.255,5.427V10h3.077V6.725c2.656-0.606,4.734-2.74,5.256-5.427H10v-3.077H6.668L6.668-1.779zM-0.018,3.826c-2.121,0-3.846-1.726-3.846-3.846c0-2.121,1.726-3.846,3.846-3.846c2.121,0,3.846,1.725,3.846,3.846C3.828,2.101,2.104,3.826-0.018,3.826z"/>
            <path id="fireS" d="M0-10c0,0-20.769,20,0,20S0-10,0-10zM4.031,6.274c-0.254,0.53-0.784,0.87-1.426,1.089c0.546-2.154-2.619-6.05-2.619-6.05s-3.131,3.896-2.593,6.048c-0.638-0.218-1.17-0.556-1.425-1.087c-1.011-2.12,1.479-6.952,4.027-10.508C2.548-0.68,5.039,4.151,4.028,6.274H4.031zM7.493,5.96c-0.408,1.01-1.5,1.629-2.857,2C8.874,4.149-0.001-6.77-0.001-6.77S-8.873,4.149-4.632,7.96c-1.356-0.369-2.452-0.989-2.858-2c-0.723-1.788,0.479-4.947,3.382-8.896C-2.627-4.95-1.023-6.728,0-7.805c1.015,1.071,2.608,2.832,4.084,4.839C7.004,0.995,8.214,4.166,7.493,5.96L7.493,5.96z"/>
            <path id="shieldS" d="M0-10l-7.692,0.927C-7.692,8.594-2.44,6.955,0,10C2.438,6.954,7.692,8.594,7.692-9.073L0-10zM3.386-2.043C3.124-0.7,2.087,0.362,0.759,0.665v1.643h-1.538V0.666C-2.105,0.362-3.142-0.7-3.404-2.042H-5V-3.58h1.656c0.328-1.238,1.312-2.204,2.564-2.491v-1.621h1.539v1.621c1.254,0.284,2.238,1.253,2.567,2.489H5v1.538L3.386-2.043L3.386-2.043z"/>
            <path id="mirrorS" d="M10,0L2.308-4.615v3.077h-4.615v-3.077L-10,0l7.692,4.615V1.538h4.615v3.077L10,0z"/>
            <path id="switchS" d="M6.923-10v5.385H-6.923v6.923H-10L-5.383,10l4.613-7.692h-3.076v-3.846H10V-10H6.923z"/>
            <path id="springS" d="M-10.001-10v2.308H2.17l-12.171,3.586v2.315l0.011-0.003H2.163L-9.999,1.791v2.313l0.007-0.002H2.16L-9.999,7.685V10h20V7.692h-12.17l12.17-3.587V1.792L9.993,1.795H-2.16L10.001-1.79v-2.313L9.995-4.103H-2.156l12.157-3.585V-10H-10.001z"/>
            <path id="secondS" d="M0-10c-5.522,0-10,4.478-10,10s4.478,10,10,10S10,5.522,10,0S5.522-10,0-10z M-1.538,6.154h-3.077V-6.154h3.077V6.154z M4.615,6.154H1.538V-6.154h3.077V6.154z"/>
            <path id="vabankS" d="M6.922-1.1L8.02-6.038L3.081-6.041L-0.001-10l-3.081,3.959L-8.021-6.04l1.099,4.94l-3.077,3.962l4.446,2.199L-4.451,10l4.45-2.195L4.45,10l1.102-4.938l4.447-2.199L6.922-1.1z M1.623,5.665h-3.157l0.003-0.009h-0.091l-3.446-9.71h3.156l1.913,5.393l1.91-5.385h3.156L1.623,5.665L1.623,5.665z"/>
        </symbol>

        <g id="gimmicksPanel" class="on">
            <g class="">
                <use x="104" y="414" xlink:href="#cannonS"/>
                <use id="cannon" x="104" y="414"xlink:href="#frameS"/>
            </g>
            <g class="fire">
                <use x="188" y="414" xlink:href="#fireS"/>
                <use id="fire" x="188" y="414" xlink:href="#frameS"/>
            </g>
            <g class="shield">
                <use x="272" y="414" xlink:href="#shieldS"/>
                <use id="shield" x="272" y="414" xlink:href="#frameS"/>
            </g>
            <g class="switch">
                <use x="356" y="414" xlink:href="#switchS"/>
                <use id="switch" x="356" y="414" xlink:href="#frameS"/>
            </g>
            <g class="mirror">
                <use x="440" y="414" xlink:href="#mirrorS"/>
                <use id="mirror" x="440" y="414" xlink:href="#frameS"/>
            </g>
            <g class="spring">
                <use id="tutorialGimmickSpring" x="524" y="414" xlink:href="#springS"/>
                <use id="tutorial_spring" x="524" y="414" xlink:href="#frameS"/>
            </g>
            <g class="second">
                <use x="608" y="414" xlink:href="#secondS"/>
                <use id="second" x="608" y="414" xlink:href="#frameS"/>
            </g>
            <g class="vabank">
                <use x="692" y="414" xlink:href="#vabankS"/>
                <use id="vabank" x="692" y="414" xlink:href="#frameS"/>
            </g>
        </g>

        <g id="rocks" class="on">

            <circle id="tutorial_rockEnemy3" r="20" class="on" cx="104" cy="94"/>
            <circle id="rockEnemy2" r="20" class="on" cx="272" cy="94"/>
            <circle id="tutorial_rockEnemy1" r="20" class="on" cx="440" cy="94"/>
            <circle id="tutorial_rockEnemy0" r="20" class="on" cx="608" cy="94"/>

            <circle id="tutorial_rockYour0" r="20" class="on" cx="188" cy="366"/>
            <g id="firstRock">
                <!--<circle id="tutorial_animationRockYour0" class="on" r="20" cx="188" cy="366"/>-->
                <polygon id="tutorialArrowAttack" class="arrowTop" points="191.375,354 188,350.667 184.625,354 183.5,353.333 188,349 192.5,353.333"/>
            </g>

            <circle id="tutorial_rockYour1" r="20" class="on" cx="356" cy="366"/>
            <g id="secondRock">
                <!--<circle id="tutorial_animationRockYour1" class="on" r="20" cx="356" cy="366"/>-->
                <polygon id="tutorialArrowDefense2" class="arrowRight" points="368,369.375 371.333,366 368,362.625 368.667,361.5 373,366 368.667,370.5"/>
            </g>

            <circle id="rockYour2" r="20" class="on" cx="524" cy="366"/>

            <circle id="tutorial_rockYour3" r="20" class="on" cx="692" cy="366"/>
            <g id="fourthRock">
                <!--<circle id="tutorial_animationRockYour3" class="on" r="20" cx="692" cy="366"/>-->
                <polygon id="tutorialArrowDefense1" class="arrowLeft" points="680,362.625 676.667,366 680,369.375 679.333,370.5 675,366 679.333,361.5"/>
            </g>

        </g>

        <g id="gimmicksPositionsAndActivationZones" class="gimmicksLayout">
            <use id="tutorial_springYour0" x="188" y="261" xlink:href="#springS"/>
        </g>

        <g id="tutorialContent">
            <defs>
                <mask id="tutorialDimmedMask">
                    <filter id="tutorialRampBlur">
                        <feGaussianBlur in="SourceGraphic" stdDeviation="5"></feGaussianBlur>
                    </filter>
                    <rect width="100%" height="100%" fill="#fff"></rect>
                    <circle id="tutorialRamp" filter="url(#tutorialRampBlur)" r="100" cx="188" cy="300" opacity="0"></circle>
                </mask>
                <g  id="tutorialWave">
                    <circle r="4" fill="transparent" stroke="#ffb200" stroke-width="1">
                        <animate attributeName="r" to="40" dur="2000ms" begin="+1000ms" repeatCount="indefinite"></animate>
                        <animate attributeName="opacity" to="0" dur="2000ms" begin="+1000ms" repeatCount="indefinite"></animate>
                    </circle>
                    <circle r="4" fill="transparent" stroke="#ffb200" stroke-width="1">
                        <animate attributeName="r" to="40" dur="2000ms" begin="+2000ms" repeatCount="indefinite"></animate>
                        <animate attributeName="opacity" to="0" dur="2000ms" begin="+2000ms" repeatCount="indefinite"></animate>
                    </circle>
                </g>
                <path id="tutorialPointer" fill="#ededed" stroke="#606060" stroke-width="5" d=" M 63.99 95.88 C 63.69 91.99 66.25 88.03 70.17 87.23 C 74.89 85.91 80.08 89.95 79.93 94.86 C 80.10 112.24 79.95 129.62 80.00 147.00 C 81.33 147.00 82.67 147.00 84.00 147.00 C 84.07 141.62 83.86 136.24 84.05 130.87 C 83.99 127.31 86.66 124.00 90.12 123.23 C 94.50 122.01 99.51 125.38 99.84 129.94 C 100.25 135.62 99.88 141.31 100.00 147.00 C 101.34 147.00 102.67 147.00 104.02 147.00 C 104.26 142.28 102.69 136.32 106.87 132.87 C 111.05 129.04 118.64 131.50 119.72 137.08 C 120.34 141.69 119.87 146.36 120.00 151.00 C 121.33 151.00 122.67 151.00 124.01 151.00 C 123.94 147.32 124.08 143.64 123.97 139.96 C 128.72 137.43 135.42 140.33 135.84 145.94 C 136.24 157.30 135.85 168.69 136.03 180.06 C 136.81 198.04 124.01 213.12 123.91 231.00 C 105.28 231.00 86.65 231.00 68.02 231.00 C 68.22 219.76 66.25 207.32 57.86 199.11 C 50.72 192.10 50.05 181.43 44.47 173.44 C 42.39 169.95 39.31 167.24 36.90 164.01 C 34.54 160.65 37.09 155.47 41.12 155.07 C 45.85 154.67 50.13 157.51 53.40 160.64 C 57.38 164.68 60.46 169.49 63.99 173.91 C 64.00 147.90 64.01 121.89 63.99 95.88 Z"></path>
                <circle id="tutorialClick" r="100" fill="transparent"></circle>
            </defs>

            <rect id="tutorialDimmed" mask="url(#tutorialDimmedMask)" width="100%" height="100%" fill="#445963" fill-opacity=".7"></rect>

            <g id="tutorialAttack" opacity="0" display="none">
                <use xlink:href="#tutorialWave" x="168" y="264"></use>
                <use xlink:href="#tutorialPointer" transform="translate(174,238.5) rotate(50) scale(.22)"></use>
                <use xlink:href="#tutorialClick" x="188" y="300" cursor="pointer"></use>
                <text x="50%" y="50" text-anchor="middle" font-size="20" font-family="Arial" fill="#fff">поставь камень в атакующую позицию</text>
                <animate xlink:href="#tutorialRamp" id="tutorialAttackReady" attributeName="opacity" to="1" dur="750ms" begin="+500ms" fill="freeze"></animate>
                <set attributeName="display" to="block" begin="tutorialAttackReady.end"></set>
                <set attributeName="display" to="none" begin="click"></set>
                <animate attributeName="opacity" to="1" dur="500ms" begin="tutorialAttackReady.end" fill="freeze"></animate>
            </g>

            <g id="tutorialDefense1" opacity="0" display="none">
                <use xlink:href="#tutorialWave" x="636" y="349"></use>
                <use xlink:href="#tutorialPointer" transform="translate(610,355) rotate(40) scale(.22, -.22)"></use>
                <use xlink:href="#tutorialClick" x="650" y="366" cursor="pointer" transform="translate(196,110) scale(.7)"></use>
                <text x="50%" y="50" text-anchor="middle" font-size="20" font-family="Arial" fill="#fff">поставь первый камень в защиту</text>
                <animate xlink:href="#tutorialRamp" id="tutorialDefense1Ready" attributeName="r" to="70" dur="500ms" begin="tutorialAttack.click+750ms" fill="freeze"></animate>
                <animate xlink:href="#tutorialRamp" attributeName="cx" to="650" dur="500ms" begin="tutorialAttack.click+750ms" fill="freeze"></animate>
                <animate xlink:href="#tutorialRamp" attributeName="cy" to="366" dur="500ms" begin="tutorialAttack.click+750ms" fill="freeze"></animate>
                <set attributeName="display" to="block" begin="tutorialDefense1Ready.end"></set>
                <set attributeName="display" to="none" begin="click"></set>
                <animate attributeName="opacity" to="1" dur="500ms" begin="tutorialDefense1Ready.end" fill="freeze"></animate>
            </g>

            <g id="tutorialDefense2" opacity="0" display="none">
                <use xlink:href="#tutorialWave" x="404" y="350"></use>
                <use xlink:href="#tutorialPointer" transform="translate(428.5,360) rotate(150) scale(.22)"></use>
                <use xlink:href="#tutorialClick" x="396" y="366" cursor="pointer" transform="translate(118,110) scale(.7)"></use>
                <text x="50%" y="50" text-anchor="middle" font-size="20" font-family="Arial" fill="#fff">поставь второй камень в защиту</text>
                <animate xlink:href="#tutorialRamp" id="tutorialDefense2Ready" attributeName="cx" to="396" dur="500ms" begin="tutorialDefense1.click+750ms" fill="freeze"></animate>
                <set attributeName="display" to="block" begin="tutorialDefense2Ready.end"></set>
                <set attributeName="display" to="none" begin="click"></set>
                <animate attributeName="opacity" to="1" dur="500ms" begin="tutorialDefense2Ready.end" fill="freeze"></animate>
            </g>

            <g id="tutorialGimmick" opacity="0" display="none">
                <use xlink:href="#tutorialWave" x="505" y="415"></use>
                <use xlink:href="#tutorialPointer" transform="translate(510,390) rotate(50) scale(.22)"></use>
                <use xlink:href="#tutorialClick" x="524" y="414" cursor="pointer" transform="translate(315,248) scale(.4)"></use>
                <text x="50%" y="50" text-anchor="middle" font-size="20" font-family="Arial" fill="#fff">выбери прием для усиления атаки или защиты</text>
                <animate xlink:href="#tutorialRamp" id="tutorialGimmickReady" attributeName="r" to="40" dur="500ms" begin="tutorialDefense2.click+750ms" fill="freeze"></animate>
                <animate xlink:href="#tutorialRamp" attributeName="cx" to="524" dur="500ms" begin="tutorialDefense2.click+750ms" fill="freeze"></animate>
                <animate xlink:href="#tutorialRamp" attributeName="cy" to="414" dur="500ms" begin="tutorialDefense2.click+750ms" fill="freeze"></animate>
                <set attributeName="display" to="block" begin="tutorialGimmickReady.end"></set>
                <set attributeName="display" to="none" begin="click"></set>
                <animate attributeName="opacity" to="1" dur="500ms" begin="tutorialGimmickReady.end" fill="freeze"></animate>
                <set xlink:href="#tutorialGimmickSpring" attributeName="opacity" to="1" begin="tutorialGimmick.mouseover" end="tutorialGimmick.mouseout"></set>
                <set xlink:href="#tutorialGimmickSpring" attributeName="fill" to="#ccc" begin="tutorialGimmick.click"></set>
                <set xlink:href="#tutorial_spring" attributeName="opacity" to="1" begin="tutorialGimmick.mouseover" end="tutorialGimmick.mouseout"></set>
                <set xlink:href="#tutorial_spring" attributeName="stroke" to="#ccc" begin="tutorialGimmick.click"></set>
            </g>

            <!--<animate xlink:href="#tutorial_animationRockYour0" attributeName="cy" to="230" dur="750ms" begin="tutorialAttack.mouseover" end="tutorialAttack.mouseout" repeatCount="indefinite"></animate>-->
            <!--<animate xlink:href="#tutorial_animationRockYour0" attributeName="fill-opacity" values="1; 1; 0" dur="750ms" begin="tutorialAttack.mouseover" end="tutorialAttack.mouseout" repeatCount="indefinite"></animate>-->
            <!--<set xlink:href="#tutorial_animationRockYour0" attributeName="display" to="none" begin="tutorialAttack.click"></set>-->
            <set xlink:href="#tutorialArrowAttack" attributeName="display" to="block" begin="tutorialAttack.mouseover" end="tutorialAttack.mouseout"></set>
            <set xlink:href="#tutorialArrowAttack" attributeName="visibility" to="hidden" begin="tutorialAttack.click"></set>
            <animate xlink:href="#tutorial_rockYour0" attributeName="cy" to="230" dur="500ms" begin="tutorialAttack.click" fill="freeze"></animate>

            <!--<animate xlink:href="#tutorial_animationRockYour3" attributeName="cx" to="608" dur="750ms" begin="tutorialDefense1.mouseover" end="tutorialDefense1.mouseout" repeatCount="indefinite"></animate>-->
            <!--<animate xlink:href="#tutorial_animationRockYour3" attributeName="fill-opacity" values="1; 1; 0" dur="750ms" begin="tutorialDefense1.mouseover" end="tutorialDefense1.mouseout" repeatCount="indefinite"></animate>-->
            <!--<set xlink:href="#tutorial_animationRockYour3" attributeName="display" to="none" begin="tutorialDefense1.click"></set>-->
            <set xlink:href="#tutorialArrowDefense1" attributeName="display" to="block" begin="tutorialDefense1.mouseover" end="tutorialDefense1.mouseout"></set>
            <set xlink:href="#tutorialArrowDefense1" attributeName="visibility" to="hidden" begin="tutorialDefense1.click"></set>
            <animate xlink:href="#tutorial_rockYour3" attributeName="cx" to="608" dur="500ms" begin="tutorialDefense1.click" fill="freeze"></animate>

            <!--<animate xlink:href="#tutorial_animationRockYour1" attributeName="cx" to="440" dur="750ms" begin="tutorialDefense2.mouseover" end="tutorialDefense2.mouseout" repeatCount="indefinite"></animate>-->
            <!--<animate xlink:href="#tutorial_animationRockYour1" attributeName="fill-opacity" values="1; 1; 0" dur="750ms" begin="tutorialDefense2.mouseover" end="tutorialDefense2.mouseout" repeatCount="indefinite"></animate>-->
            <!--<set xlink:href="#tutorial_animationRockYour1" attributeName="display" to="none" begin="tutorialDefense2.click"></set>-->
            <set xlink:href="#tutorialArrowDefense2" attributeName="display" to="block" begin="tutorialDefense2.mouseover" end="tutorialDefense2.mouseout"></set>
            <set xlink:href="#tutorialArrowDefense2" attributeName="visibility" to="hidden" begin="tutorialDefense2.click"></set>
            <animate xlink:href="#tutorial_rockYour1" attributeName="cx" to="440" dur="500ms" begin="tutorialDefense2.click" fill="freeze"></animate>

            <animate xlink:href="#tutorialRamp" id="tutorialGimmickPositionReady" attributeName="cx" to="188" dur="500ms" begin="tutorialGimmick.click" fill="freeze"></animate>
            <animate xlink:href="#tutorialRamp" attributeName="cy" to="255" dur="500ms" begin="tutorialGimmick.click" fill="freeze"></animate>

            <set xlink:href="#tutorial_springYour0" attributeName="display" to="block" begin="tutorialGimmickPositionReady.end+250ms"></set>

            <animate xlink:href="#tutorialRamp" attributeName="opacity" to="0" dur="750ms" begin="tutorialGimmickPositionReady.end+750ms" fill="freeze"></animate>
            <animate xlink:href="#tutorialDimmed" id="tutorialStep0" attributeName="opacity" to="0" dur="750ms" begin="tutorialGimmickPositionReady.end+750ms" fill="freeze"></animate>
            <animate xlink:href="#tutorial_rockEnemy1" id="tutorialStep1" attributeName="cy" to="230" dur="500ms" begin="tutorialStep0.end" fill="freeze"></animate>
            <animate xlink:href="#tutorial_rockEnemy3" id="tutorialStep2" attributeName="cx" to="188" dur="500ms" begin="tutorialStep1.end" fill="freeze"></animate>
            <animate xlink:href="#tutorial_rockEnemy0" id="tutorialStep3" attributeName="cx" to="524" dur="500ms" begin="tutorialStep2.end" fill="freeze"></animate>
            <animate xlink:href="#tutorial_rockYour0" id="tutorialStep4" attributeName="cy" to="134" dur="500ms" begin="tutorialStep3.end" fill="freeze"></animate>
            <animate xlink:href="#tutorial_rockYour0" id="tutorialStep5" attributeName="cy" to="230" dur="500ms" begin="tutorialStep4.end+150ms" fill="freeze"></animate>
            <animate xlink:href="#tutorial_rockEnemy3" id="tutorialStep6" attributeName="cx" to="104" dur="500ms" begin="tutorialStep5.end" fill="freeze"></animate>
            <animate xlink:href="#tutorial_springYour0" id="tutorialStep7" attributeName="opacity" values="1; 0; 1; 0" dur="1000ms" begin="tutorialStep6.end" fill="freeze"></animate>
            <animate xlink:href="#tutorial_rockYour0" id="tutorialStep8" attributeName="cy" to="126" dur="500ms" begin="tutorialStep7.end" fill="freeze"></animate>
            <animate xlink:href="#tutorial_rockYour0" id="tutorialStep9" attributeName="opacity" to="0" dur="350ms" begin="tutorialStep8.end+150ms" fill="freeze"></animate>
            <set xlink:href="#tutorial_rockYour0" attributeName="cy" to="366" begin="tutorialStep8.end+500ms"></set>
            <animate xlink:href="#tutorial_rockYour0" id="tutorialStep10" attributeName="opacity" to="1" dur="350ms" begin="tutorialStep9.end+150ms" fill="freeze"></animate>
            <animate xlink:href="#tutorial_rockEnemy1" id="tutorialStep11" attributeName="cy" to="326" dur="500ms" begin="tutorialStep10.end" fill="freeze"></animate>
            <animate xlink:href="#tutorial_rockEnemy1" id="tutorialStep12" attributeName="cy" to="94" dur="500ms" begin="tutorialStep11.end+150ms" fill="freeze"></animate>
            <animate xlink:href="#tutorialDimmed" id="tutorialStep13" attributeName="opacity" to="1" dur="750ms" begin="tutorialStep12.end" fill="freeze"></animate>
            <animate xlink:href="#tutorial_rockEnemy0" attributeName="cx" to="608" dur="500ms" begin="tutorialStep12.end" fill="freeze"></animate>
            <animate xlink:href="#tutorial_rockYour1" attributeName="cx" to="356" dur="500ms" begin="tutorialStep12.end" fill="freeze"></animate>
            <animate xlink:href="#tutorial_rockYour3" attributeName="cx" to="692" dur="500ms" begin="tutorialStep12.end" fill="freeze"></animate>

            <g id="tutorendtrigger" opacity="0">
                <image xlink:href="https://emojipedia-us.s3.amazonaws.com/thumbs/120/apple/129/graduation-cap_1f393.png" width="200" height="200" x="298" y="130"></image>
                <animate attributeName="opacity" to="1" dur="250ms" begin="tutorialStep12.end" fill="freeze"></animate>
            </g>
        </g>

    </svg>

</div>
<div id="close_tutorial" class="cancel"></div>