<div id="microgame_rating" class="microgame_rating"></div>
<div id="microgame_pilgrims" class="microgame_rating microgame_rating_pilgrim"></div>
<div class="microgame_case">
    <svg id="microgamesvg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"></svg>
</div>
<div class="microgame_logo"></div>
<div id="microgamescore" class="microgame_score">0</div>
<div class="microgame_session">за сессию</div>
<div id="close_microgame" class="cancel"></div>