<div>Пилигримы</div>
{{#each arr as |player|}}
    <div>
        <span>{{{ player.first_name }}}</span>
        <img class="user_image _30" src="{{{ player.photo_50 }}}" alt="{{{ player.first_name }}}">
    </div>
{{/each}}