<img class="user_image _50 {{class}}" src="{{imageURL}}" alt="{{name}}">
<div class="user_name">{{name}}</div>
<div class="user_city">{{city}}</div>
<div class="user_points">{{points}}</div>
<div class="user_rating">{{rating}}</div>