<div class="result _w">
	<img class="sticker" src="stickers/7.png" alt="sticker">
	<div class="card">
		<div class="opponent">
			<img class="user_image _30 open_profile" src="https://pp.userapi.com/c636316/v636316293/408db/DnsVc9ne2Ys.jpg" alt="avatar">
			<div class="user_name">Максим</div>
			<div class="user_rating">234 234</div>
			<div class="match_score">2</div>
		</div>
		<div class="im">
			<img class="user_image _30" src="https://pp.userapi.com/c604422/v604422239/5c40/tzZCyCvlKMU.jpg" alt="avatar">
			<div class="user_name">Сергей</div>
			<div class="user_rating" data-user-rating-change="+2">2 331</div>
			<div class="match_score">5</div>
		</div>
	</div>
	<div class="match_winner_line"></div>
	<div class="match_data_time">12:24</div>
</div>